 /* ===== FLEX-SLIDER ===== */

/* ----- RESETS ----- */

.flex-slider a:hover,
.flex-slider a:focus,
.flex-container a:hover,
.flex-container a:focus {
  outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin:  0;
  padding: 0;
  list-style: none;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* ----- BASE STYLES ----- */

.flexslider {
  margin:  0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
  height: 0;
  clear: both;
  display: block;
  line-height: 0;
  content: "\0020";
  visibility: hidden;
}

html[xmlns] .flexslider .slides {
  display: block;
}

* html .flexslider .slides {
  height: 1%;
}

.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ----- DEFAULT THEME ----- */

.flexslider {
  zoom: 1;
  margin: 0 0 60px;
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  border: 4px solid #ffffff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
     box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides img {
  height: auto;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.carousel li {
  margin-right: 5px;
}

.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  top: 50%;
  opacity: 0;
  z-index: 10;
  width:  40px;
  height: 40px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  margin: -20px 0 0;
  position: absolute;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a:before {
  font-size: 40px;
  content: '\f001';
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

.flex-direction-nav .flex-prev {
  left: -50px;
}

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  cursor: default;
  opacity: 0!important;
  filter: alpha(opacity=0);
}

.flex-pauseplay a {
  z-index: 10;
  left:  10px;
  bottom: 5px;
  color: #000;
  width:  20px;
  height: 20px;
  opacity: 0.8;
  display: block;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
}

.flex-pauseplay a:before {
  font-size: 20px;
  content: '\f004';
  display: inline-block;
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

.flex-control-nav {
  width: 100%;
  bottom: -40px;
  position: absolute;
  text-align: center;
}

.flex-control-nav li {
  zoom: 1;
  margin: 0 6px;
  *display: inline;
  display: inline-block;
}

.flex-control-paging li a {
  width:  11px;
  height: 11px;
  display: block;
  cursor: pointer;
  background: #666;
  text-indent: -9999px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
     box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  cursor: default;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  margin: 0;
  width: 25%;
  float: left;
}

.flex-control-thumbs img {
  width: 100%;
  opacity: .7;
  height: auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ----- RESPONSIVE ----- */

@media screen and (max-width: 860px) {

.flex-direction-nav .flex-prev {
  opacity: 1;
  left: 10px;
}

.flex-direction-nav .flex-next {
  opacity: 1;
  right: 10px;
}}

.col-xs-5th-1, .col-sm-5th-1, .col-md-5th-1, .col-lg-5th-1, .col-xs-5th-2, .col-sm-5th-2, .col-md-5th-2, .col-lg-5th-2, .col-xs-5th-3, .col-sm-5th-3, .col-md-5th-3, .col-lg-5th-3, .col-xs-5th-4, .col-sm-5th-4, .col-md-5th-4, .col-lg-5th-4, .col-xs-5th-5, .col-sm-5th-5, .col-md-5th-5, .col-lg-5th-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-5th-1, .col-xs-5th-2, .col-xs-5th-3, .col-xs-5th-4, .col-xs-5th-5 {
  float: left;
}
.col-xs-5th-5 {
  width: 100%;
}
.col-xs-5th-4 {
  width: 80%;
}
.col-xs-5th-3 {
  width: 60%;
}
.col-xs-5th-2 {
  width: 40%;
}
.col-xs-5th-1 {
  width: 20%;
}
.col-xs-5th-pull-5 {
  right: 100%;
}
.col-xs-5th-pull-4 {
  right: 80%;
}
.col-xs-5th-pull-3 {
  right: 60%;
}
.col-xs-5th-pull-2 {
  right: 40%;
}
.col-xs-5th-pull-1 {
  right: 20%;
}
.col-xs-5th-pull-0 {
  right: auto;
}
.col-xs-5th-push-5 {
  left: 100%;
}
.col-xs-5th-push-4 {
  left: 80%;
}
.col-xs-5th-push-3 {
  left: 60%;
}
.col-xs-5th-push-2 {
  left: 40%;
}
.col-xs-5th-push-1 {
  left: 20%;
}
.col-xs-5th-push-0 {
  left: auto;
}
.col-xs-5th-offset-5 {
  margin-left: 100%;
}
.col-xs-5th-offset-4 {
  margin-left: 80%;
}
.col-xs-5th-offset-3 {
  margin-left: 60%;
}
.col-xs-5th-offset-2 {
  margin-left: 40%;
}
.col-xs-5th-offset-1 {
  margin-left: 20%;
}
.col-xs-5th-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-5th-1, .col-sm-5th-2, .col-sm-5th-3, .col-sm-5th-4, .col-sm-5th-5 {
    float: left;
  }
  .col-sm-5th-5 {
    width: 100%;
  }
  .col-sm-5th-4 {
    width: 80%;
  }
  .col-sm-5th-3 {
    width: 60%;
  }
  .col-sm-5th-2 {
    width: 40%;
  }
  .col-sm-5th-1 {
    width: 20%;
  }
  .col-sm-5th-pull-5 {
    right: 100%;
  }
  .col-sm-5th-pull-4 {
    right: 80%;
  }
  .col-sm-5th-pull-3 {
    right: 60%;
  }
  .col-sm-5th-pull-2 {
    right: 40%;
  }
  .col-sm-5th-pull-1 {
    right: 20%;
  }
  .col-sm-5th-pull-0 {
    right: auto;
  }
  .col-sm-5th-push-5 {
    left: 100%;
  }
  .col-sm-5th-push-4 {
    left: 80%;
  }
  .col-sm-5th-push-3 {
    left: 60%;
  }
  .col-sm-5th-push-2 {
    left: 40%;
  }
  .col-sm-5th-push-1 {
    left: 20%;
  }
  .col-sm-5th-push-0 {
    left: auto;
  }
  .col-sm-5th-offset-5 {
    margin-left: 100%;
  }
  .col-sm-5th-offset-4 {
    margin-left: 80%;
  }
  .col-sm-5th-offset-3 {
    margin-left: 60%;
  }
  .col-sm-5th-offset-2 {
    margin-left: 40%;
  }
  .col-sm-5th-offset-1 {
    margin-left: 20%;
  }
  .col-sm-5th-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-5th-1, .col-md-5th-2, .col-md-5th-3, .col-md-5th-4, .col-md-5th-5 {
    float: left;
  }
  .col-md-5th-5 {
    width: 100%;
  }
  .col-md-5th-4 {
    width: 80%;
  }
  .col-md-5th-3 {
    width: 60%;
  }
  .col-md-5th-2 {
    width: 40%;
  }
  .col-md-5th-1 {
    width: 20%;
  }
  .col-md-5th-pull-5 {
    right: 100%;
  }
  .col-md-5th-pull-4 {
    right: 80%;
  }
  .col-md-5th-pull-3 {
    right: 60%;
  }
  .col-md-5th-pull-2 {
    right: 40%;
  }
  .col-md-5th-pull-1 {
    right: 20%;
  }
  .col-md-5th-pull-0 {
    right: auto;
  }
  .col-md-5th-push-5 {
    left: 100%;
  }
  .col-md-5th-push-4 {
    left: 80%;
  }
  .col-md-5th-push-3 {
    left: 60%;
  }
  .col-md-5th-push-2 {
    left: 40%;
  }
  .col-md-5th-push-1 {
    left: 20%;
  }
  .col-md-5th-push-0 {
    left: auto;
  }
  .col-md-5th-offset-5 {
    margin-left: 100%;
  }
  .col-md-5th-offset-4 {
    margin-left: 80%;
  }
  .col-md-5th-offset-3 {
    margin-left: 60%;
  }
  .col-md-5th-offset-2 {
    margin-left: 40%;
  }
  .col-md-5th-offset-1 {
    margin-left: 20%;
  }
  .col-md-5th-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-5th-1, .col-lg-5th-2, .col-lg-5th-3, .col-lg-5th-4, .col-lg-5th-5 {
    float: left;
  }
  .col-lg-5th-5 {
    width: 100%;
  }
  .col-lg-5th-4 {
    width: 80%;
  }
  .col-lg-5th-3 {
    width: 60%;
  }
  .col-lg-5th-2 {
    width: 40%;
  }
  .col-lg-5th-1 {
    width: 20%;
  }
  .col-lg-5th-pull-5 {
    right: 100%;
  }
  .col-lg-5th-pull-4 {
    right: 80%;
  }
  .col-lg-5th-pull-3 {
    right: 60%;
  }
  .col-lg-5th-pull-2 {
    right: 40%;
  }
  .col-lg-5th-pull-1 {
    right: 20%;
  }
  .col-lg-5th-pull-0 {
    right: auto;
  }
  .col-lg-5th-push-5 {
    left: 100%;
  }
  .col-lg-5th-push-4 {
    left: 80%;
  }
  .col-lg-5th-push-3 {
    left: 60%;
  }
  .col-lg-5th-push-2 {
    left: 40%;
  }
  .col-lg-5th-push-1 {
    left: 20%;
  }
  .col-lg-5th-push-0 {
    left: auto;
  }
  .col-lg-5th-offset-5 {
    margin-left: 100%;
  }
  .col-lg-5th-offset-4 {
    margin-left: 80%;
  }
  .col-lg-5th-offset-3 {
    margin-left: 60%;
  }
  .col-lg-5th-offset-2 {
    margin-left: 40%;
  }
  .col-lg-5th-offset-1 {
    margin-left: 20%;
  }
  .col-lg-5th-offset-0 {
    margin-left: 0%;
  }
}
/* ===== GRID ===== */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: '';
  display: table;
}
body:after {
  clear: both;
}
/* ===== #AUTHOR'S STYLES ===== */
/* ----- general rules ----- */
.btn {
  padding: 0;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  border-radius: .2rem;
}
.btn:hover,
.btn:focus,
.btn:active:focus {
  color: #fff;
  outline: none;
}
.wrapper {
  margin: 0 auto;
}
.title__h1 {
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 5.2em;
  font-weight: 300;
  max-width: 96rem;
  text-align: center;
}
.title__h2 {
  color: #222;
  font-size: 4.2em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4.5rem;
}
.title__h3 {
  font-family: Roboto;
  font-size: 3.3em;
  font-weight: 300;
  color: #ff411f;
}
.title__h4 {
  color: #ff4020;
  font-size: 2.3em;
  font-weight: 400;
  font-family: Arial;
  line-height: 3.1rem;
  margin-bottom: 2.5rem;
}
input:focus::-moz-placeholder {
  color: transparent;
}
/* ----- HEADER ----- */
.header {
  min-height: 70.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/header-bg.png');
}
.navbar {
  border: none;
  padding-top: 4.5rem;
  margin-bottom: 15rem;
  background-image: -webkit-linear-gradient(top, #010c16 0%, rgba(1, 12, 22, 0.1) 100%);
  background-image: linear-gradient(to bottom, #010c16 0%, rgba(1, 12, 22, 0.1) 100%);
}
.wrapper__navbar {
  max-width: 128rem;
}
.navbar-brand {
  height: auto;
  padding: 0;
}
.navbar-brand:focus,
.navbar-brand:visited {
  outline: none;
}
.navbar-text {
  margin: 0;
}
.navbar-text_city {
  color: #999;
  font-size: 1.3em;
  font-weight: 300;
  font-family: Roboto;
}
.navbar-text_tel {
  font-family: HelveticaNeueCyr;
  font-size: 2em;
  font-weight: 400;
  color: white;
}
.navbar-text_link {
  color: #ff4020;
  font-size: 1.4em;
  font-weight: 300;
  font-family: Roboto;
  display: inline-block;
  padding: .7em .5em .7em 4em;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url('../img/callback.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .navbar-text_link {
    background-image: url("../img/callback@2x.png");
    background-size: 3.5rem auto;
  }
}
.navbar-text_link:hover,
.navbar-text_link:visited,
.navbar-text_link:active,
.navbar-text_link:focus {
  outline: none;
  color: #ff4020;
}
.navbar-sign {
  padding: 0;
  float: right;
}
.navbar-sign_btn {
  padding: .5rem 2.5rem;
}
.navbar-sign_btn__reg {
  border-style: solid;
  border-width: .1rem;
  background-color: transparent;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  border-color: rgba(255, 255, 255, 0.4);
}
.navbar-sign_btn__reg:hover {
  border-color: white;
}
.navbar-sign_btn__in {
  background-color: #ff4020;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.navbar-sign_btn__in:hover {
  background-color: #e03112;
}
.btn-group {
  padding: 0;
  float: right;
}
.btn-group .btn + .btn {
  margin-left: 1.5rem;
}
.navbar-nav {
  padding: 0;
  margin-top: 2rem;
}
.navbar-nav > li > a {
  padding: 0;
  color: white;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2.3em;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  outline: none;
  background-color: transparent;
}
.navbar-nav > li > a:hover {
  color: #ff4020;
  text-decoration: underline;
}
.navbar-nav > li {
  padding: .8em 1.1em;
  vertical-align: middle;
}
.icon-bar {
  width: 2.6rem;
  height: 0.3rem;
  display: block;
  background-color: white;
}
.icon-bar + .icon-bar {
  margin-top: .5rem;
}
.menu-btn {
  padding: 0;
  cursor: pointer;
}
/* ----- SECTION offers ----- */
.offers {
  background-color: #fff;
}
.wrapper__offers {
  max-width: 96rem;
  padding: 3.5rem 0 6.5rem;
}
.offers-item {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  border: .1rem solid #e4e4e4;
}
.offers-item_pic {
  width: 13rem;
  height: 11rem;
  display: inline-block;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.offers-item_pic__virtual {
  background-image: url('../img/cloud_linux.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .offers-item_pic__virtual {
    background-image: url("../img/cloud_linux@2x.png");
    background-size: 100% auto;
  }
}
.offers-item_pic__wp {
  background-image: url('../img/moshnoe.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .offers-item_pic__wp {
    background-image: url("../img/moshnoe@2x.png");
    background-size: 100% auto;
  }
}
.offers-item_pic__vps {
  background-image: url('../img/virtualigacia.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .offers-item_pic__vps {
    background-image: url("../img/virtualigacia@2x.png");
    background-size: 100% auto;
  }
}
.offers-item_caption {
  color: #222;
  margin-top: 1rem;
  font-size: 2.1em;
  font-weight: 400;
}
.offers-item_price {
  color: #222;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.3em;
  display: inline-block;
}
.offers-item_price .big {
  font-size: 2.6em;
  font-weight: normal;
  text-transform: uppercase;
}
.offers-item_price .up {
  bottom: 1.5rem;
  position: relative;
  padding-left: .5rem;
}
.offers-item_discribe {
  color: #777;
  margin-top: 1rem;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0 2.6em;
  min-height: 13rem;
}
.offers-item_btn-order {
  margin-top: 1rem;
  padding: 1rem 4rem;
  background-color: #ff411f;
}
.offers-item_btn-order:hover {
  background-color: #e03112;
}
/* ----- SECTION achievements ----- */
.achievements {
  background-color: #f7f7f7;
}
.wrapper__achievements {
  max-width: 99rem;
}
.achivment-confirm_txt {
  color: #555;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.5rem;
}
.achievments-img {
  width: 35rem;
  height: 27rem;
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}
.achievments-img__host {
  background-image: url('../img/host.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .achievments-img__host {
    background-image: url("../img/host@2x.png");
    background-size: auto 100%;
  }
}
.achievments-img__control-panel {
  background-image: url('../img/control-panel.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .achievments-img__control-panel {
    background-image: url("../img/control-panel@2x.png");
    background-size: auto 100%;
  }
}
.achievments-img__support {
  background-image: url('../img/support.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .achievments-img__support {
    background-image: url("../img/support@2x.png");
    background-size: auto 100%;
  }
}
.achievments-img__servers {
  background-image: url('../img/servers.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .achievments-img__servers {
    background-image: url("../img/servers@2x.png");
    background-size: auto 100%;
  }
}
.row__achievments {
  margin-bottom: 10rem;
}
/* ----- SECTION promo ----- */
.promo {
  background-color: #fff;
}
.wrapper__promo {
  max-width: 111rem;
  padding-bottom: 8rem;
}
.promo-item {
  padding: 0 6rem;
}
.promo-item_pic {
  min-height: 15rem;
  text-align: center;
}
.promo-item_caption {
  color: #222;
  font-size: 2.1em;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 2.2rem;
}
.promo-item_discribe {
  color: #777;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.8rem;
}
/* ----- SECTION slider ----- */
.slider {
  min-height: 45.3rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('../img/slider-bg.png');
}
.wrapper__slider {
  max-width: 99rem;
  padding: 4rem 7rem 0;
}
.slider_caption {
  color: #222;
  line-height: 3.4rem;
  font-family: Roboto;
  font-size: 2.1em;
  font-weight: 400;
}
.slider_caption .small {
  color: #777;
  font-size: .6em;
}
.slider_txt {
  color: #333;
  line-height: 2.1rem;
  font-family: Roboto;
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 1rem;
}
.slider_cite {
  color: #222;
  float: right;
  opacity: 0.55;
  font-style: normal;
  font-family: Arial;
  font-size: 1.2em;
  font-weight: 400;
}
/* FLEXSLIDER */
.flexslider {
  margin: 0;
  border: none;
  position: relative;
  background-color: transparent;
}
.flex-prev,
.flex-next {
  top: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.flex-prev:focus,
.flex-next:focus {
  outline: none;
}
.flex-prev {
  left: -5.5rem;
  background-image: url('../img/prev.png');
}
.flex-next {
  right: -5.5rem;
  background-image: url('../img/next.png');
}
/* ----- SECTION partners ----- */
.partners {
  background-color: #fff;
}
.wrapper__partners {
  max-width: 99rem;
  padding: 7rem 0 9rem;
}
.title-partners {
  color: #777;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.4rem;
  margin-bottom: 4.5rem;
}
.partners-item {
  height: 5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}
.partner-item__honda {
  background-image: url('../img/honda.png');
}
.partner-item__zic {
  background-image: url('../img/zic.png');
}
.partner-item__infinity {
  background-image: url('../img/infinity.png');
}
.partner-item__lenovo {
  background-image: url('../img/lenovo.png');
}
.partner-item__head {
  background-image: url('../img/head.png');
}
/* ----- FOOTER ----- */
.footer {
  background-color: #242225;
}
.wrapper__footer {
  max-width: 99rem;
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.logo__footer {
  margin-bottom: 4rem;
}
.footer-soc_title {
  color: #787878;
  margin-bottom: 1rem;
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.9rem;
}
.footer-soc_socNet {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}
.footer-soc_socNet a {
  height: 100%;
  display: block;
  line-height: 3rem;
}
.footer-soc_icon {
  width: 3rem;
  height: 3rem;
  margin: 0 .1rem;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}
.footer-soc_icon img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}
.footer-soc_icon:hover img {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer-soc_icon__vk {
  background-color: #4c75a3;
}
.footer-soc_icon__f {
  background-color: #3b5998;
}
.footer-soc_icon__tw {
  background-color: #55acee;
}
.footer-soc_icon__g {
  background-color: #db402c;
}
.nav > li > a {
  color: white;
  padding: .5em 0;
  font-family: Roboto;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 0.8rem;
  display: inline-block;
}
.nav > li > a:focus,
.nav > li > a:hover {
  outline: none;
  background-color: transparent;
}
.nav > li > a:hover {
  color: #ff4020;
  text-decoration: underline;
}
.copyright {
  color: #777;
  margin-top: 2.5rem;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.6rem;
}
.footer-contacts {
  font-family: Roboto;
  font-weight: 300;
}
.footer-contacts p {
  color: #777;
  font-size: 1.5em;
  line-height: 2rem;
}
.footer-contacts a {
  color: #ff4020;
  font-size: 1.4rem;
}
.footer-contacts a:hover {
  text-decoration: underline;
}
.footer-design {
  color: #989797;
  padding-right: 6rem;
  margin-left: -3rem;
  font-family: Roboto;
  font-size: 1.4em;
  font-weight: 300;
}
.footer-design a {
  color: #ff4020;
}
.footer-design a:hover {
  text-decoration: underline;
}
.row__footer {
  margin-bottom: 3.5rem;
}
/* AFFIX */
.navbar.affix {
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7rem;
  border-radius: 0;
  background-image: none;
  background-color: #242225;
}
.affix .wrapper__navbar {
  max-width: 138rem;
}
.affix .navbar-text,
.affix .navbar-header {
  display: none;
}
.affix .navbar-nav,
.affix .navbar-sign {
  margin-top: 1.6rem;
}
.affix .btn-group {
  float: right;
  padding-right: 1.5rem;
}
/* PUSHY */
.pushy .btn-group {
  padding: 0 1.5rem;
  margin-bottom: 13%;
}
.pushy .navbar-sign {
  float: none;
}
.pushy .menu-btn {
  z-index: 101;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/menu-btn.png');
}
.pushy .nav-stacked {
  margin-bottom: 13%;
}
.pushy .city {
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 2.3rem;
  opacity: 0.55;
  color: white;
}
.pushy .tel {
  font-family: Roboto;
  font-size: 2em;
  font-weight: 300;
  line-height: 2.3rem;
  color: white;
}
.pushy .footer-soc {
  margin-top: 15%;
}
/* MODALS */
.modal.modal-log__in .modal-log_note__reg {
  display: none;
}
.modal.modal-log__in .modal-log_btn__reg {
  display: none;
}
.modal.modal-log__in .form-group__name {
  display: none;
}
.modal.modal-log__reg .modal-log_note__in {
  display: none;
}
.modal.modal-log__reg .modal-log_btn__in {
  display: none;
}
.modal.modal-log__reg .modal-log_link-restore {
  display: none;
}
.modal {
  background-color: rgba(0, 0, 37, 0.8);
}
.modal .close {
  opacity: .8;
  top: 7rem;
  right: 8.5rem;
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('../img/modal-close.png');
}
.modal .close:hover {
  opacity: 1;
}
.modal-content {
  border: none;
  box-shadow: none;
  font-family: Roboto;
  font-weight: 300;
  background-color: transparent;
}
.modal-log {
  color: white;
}
.modal-log .modal-dialog {
  width: 51rem;
}
.modal-log a:active,
.modal-log a:focus,
.modal-log a:visited,
.modal-log a:hover {
  outline: none;
  text-decoration: none;
}
.modal-log_title {
  font-size: 5em;
  line-height: 1;
}
.modal-log_title a {
  color: white;
  border-bottom: 0.1rem solid rgba(36, 34, 37, 0.1);
}
.modal-log_title a:hover {
  color: #ff411f;
}
.modal-log_title a.current {
  color: #ff411f;
  border-bottom: .1rem dotted #ff411f;
}
.modal-log_note {
  color: #ccc;
  font-size: 1.5em;
  margin-bottom: 4rem;
  line-height: 2.3rem;
  display: inline-block;
}
.modal-form {
  width: 40.3rem;
}
.modal .form-control {
  color: white;
  height: auto;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.3rem 2rem;
  border-radius: .2rem;
  background-color: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.modal-log_btn {
  color: #fff;
  padding: 1.3rem 3rem;
  border-radius: .2rem;
  background-color: #ff411f;
}
.modal-log_btn:hover {
  background-color: #e03112;
}
.modal-log_link-restore {
  float: right;
  color: #ff411f;
  font-size: 1.7em;
  font-weight: 300;
  text-decoration: underline;
}
.modal-log_link-restore:hover,
.modal-log_link-restore:visited {
  color: #ff411f;
}
.modal-log_submit {
  margin-top: 4rem;
}
.modal-call .modal-dialog {
  width: 55rem;
}
.modal-call_title {
  margin: 0;
  color: white;
  line-height: 1;
  font-weight: 300;
  font-size: 5em;
}
.modal-call_note {
  color: #ccc;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 3rem;
  display: inline-block;
}
.modal-call_submit {
  margin-top: 2rem;
}
.modal-call_btn {
  color: #fff;
  padding: 1.3rem 3rem;
  border-radius: .3rem;
  background-color: #ff411f;
}
.modal-call_btn:hover {
  background-color: #e03112;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open .affix {
  padding-right: 1.7rem;
}
.modal {
  text-align: center;
  padding: 0 !important;
}
.modal:before {
  vertical-align: middle;
  display: inline-block;
  margin-right: -0.4rem;
  height: 100%;
  content: '';
}
.modal-dialog {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  top: 0;
  height: 100%;
  z-index: 100;
  overflow: auto;
  position: fixed;
  visibility: hidden;
  width: 38.6rem;
  padding: 2rem 2.5rem;
  background-color: #242225;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}
/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-38.6rem, 0, 0);
  -ms-transform: translate3d(-38.6rem, 0, 0);
  transform: translate3d(-38.6rem, 0, 0);
}
.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(38.6rem, 0, 0);
  -ms-transform: translate3d(38.6rem, 0, 0);
  transform: translate3d(38.6rem, 0, 0);
}
.pushy-right {
  -webkit-transform: translate3d(38.6rem, 0, 0);
  -ms-transform: translate3d(38.6rem, 0, 0);
  transform: translate3d(38.6rem, 0, 0);
}
.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-38.6rem, 0, 0);
  -ms-transform: translate3d(-38.6rem, 0, 0);
  transform: translate3d(-38.6rem, 0, 0);
}
.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Menu Transitions */
#container,
.pushy,
.push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
/* Site Overlay */
.site-overlay {
  display: none;
}
.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: block;
  position: fixed;
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
  background-color: rgba(0, 0, 0, 0.66);
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding-left: 1.5rem;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu > a {
  position: relative;
}
.pushy-submenu > a::after {
  top: 50%;
  width: .8rem;
  right: 1.5rem;
  height: 1.1rem;
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background: url('') no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}
.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open ul {
  max-height: 100rem;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none;
}
/* ===== #MADIA QUERIES FOR RESPONSIVE DESIGN ===== */
/* ----- DESKTOP VERSION ----- */
@media screen and (max-width: 1365px) {
  /* ----- HEADER ----- */
  .wrapper__navbar {
    max-width: 120rem;
  }
  .btn-group .btn + .btn {
    margin-left: .5rem;
  }
  .navbar-nav > li > a {
    font-size: 1.4em;
  }
  /* AFFIX.JS */
  .affix .wrapper__navbar {
    max-width: 120rem;
  }
}
@media screen and (max-width: 1199px) {
  /* ----- HEADER ----- */
  .navbar {
    font-size: .9em;
  }
  .navbar .navbar-sign_btn {
    padding: .4rem 1rem;
  }
  .affix-top .btn-group {
    padding-right: 1.5rem;
  }
  .affix .navbar-nav {
    width: 75rem;
    font-size: .9em;
  }
  .wrapper__navbar {
    max-width: 99rem;
  }
}
/* ----- TABLET VERSION ----- */
@media screen and (max-width: 991px) {
  /* ----- general rules ----- */
  .title__h1 {
    font-size: 2.8em;
    max-width: 60rem;
  }
  .title__h2 {
    font-size: 3em;
  }
  /* ----- HEADER ----- */
  .header {
    min-height: 34.1rem;
    background-image: url('../img/header-bg__tablet.png');
  }
  .navbar {
    padding-top: 1.6rem;
    margin-bottom: 6rem;
  }
  .affix .navbar-header {
    margin-top: .5rem;
    display: inline-block;
  }
  .navbar-header {
    margin-top: 3.4rem;
  }
  .navbar-text {
    display: none;
  }
  .navbar-sign_user {
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/user.png');
  }
  .navbar-sign_user:hover {
    opacity: .7;
  }
  .navbar-sign_btn {
    display: none;
  }
  .navbar-nav {
    left: 1rem;
    width: auto;
    margin-top: 0;
    position: absolute;
  }
  .navbar-nav li:not(:first-child) {
    display: none;
  }
  /* ----- SECTION offers ----- */
  .row__offers {
    margin: 0;
  }
  .offers-item_discribe {
    padding: 0;
  }
  /* ----- SECTION promo ----- */
  .promo-item {
    padding: 0 1.5rem;
  }
  /* ----- SECTION partners ----- */
  .partners-item {
    background-size: contain;
  }
  /* ----- FOOTER ----- */
  .wrapper__footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .logo__footer {
    margin-bottom: 2rem;
  }
  .footer-contacts {
    height: 7.4rem;
  }
  .vbottom {
    float: none;
    display: inline-block;
    vertical-align: bottom;
  }
  .footer-design {
    padding-right: 8rem;
  }
  .footer-design p {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .navbar-sign_user {
    background-image: url("../img/user@2x.png");
    background-size: 100% auto;
  }
}
/* ----- MOBILE VERSION ----- */
@media screen and (max-width: 767px) {
  /* ----- general rules ----- */
  .title__h2 {
    font-size: 2.3em;
  }
  .title__h3 {
    font-size: 2.3em;
  }
  .title__h4 {
    line-height: 1;
    font-size: 1.8rem;
    text-align: center;
  }
  /* ----- HEADER ----- */
  .header {
    min-height: 34.2rem;
    background-image: url('../img/header-bg__mobile.png');
  }
  .navbar.affix {
    height: 6rem;
  }
  .affix .navbar-header {
    display: none;
  }
  .navbar-header {
    margin-top: 2rem;
    text-align: center;
  }
  .affix .navbar-nav,
  .affix .navbar-sign {
    margin: 0;
    width: auto;
  }
  .navbar.affix {
    padding-top: 1.5rem;
  }
  .navbar-nav {
    margin: 0;
    left: 1.5rem;
    top: 1.3rem;
  }
  .navbar-brand {
    float: none;
    display: inline-block;
  }
  /* ----- SECTION offers ----- */
  /* ----- SECTION achievements ----- */
  .achievments-img {
    width: auto;
  }
  .achivment-confirm_txt {
    font-size: 1.3em;
    line-height: 1.9rem;
  }
  .row__achievments {
    margin-bottom: 0;
  }
  /* ----- SECTION promo ----- */
  .promo-item {
    padding: 0 1.5rem;
  }
  /* ----- SECTION slider ----- */
  .wrapper__slider {
    padding: 0;
  }
  .slides {
    text-align: center;
  }
  .slider_txt {
    font-size: 1.2em;
    padding: 0 3.5rem;
    line-height: 1.7rem;
  }
  .slider_cite {
    float: none;
  }
  /* FLEXSLIDER */
  .flex-prev {
    left: -1.5rem;
    background-image: url('../img/prev.png');
  }
  .flex-next {
    right: -1.5rem;
    background-image: url('../img/next.png');
  }
  /* ----- SECTION partners ----- */
  .partners-item {
    background-size: 50%;
  }
  /* ----- FOOTER ----- */
  .footer-nav {
    margin: 2rem 0;
  }
  .row__footer {
    margin-bottom: 0;
  }
  .footer-contacts {
    height: auto;
  }
  .footer-design {
    margin-left: 0;
    padding-right: 12rem;
  }
  /* PUSHY */
  .pushy {
    width: auto;
    max-width: 36rem;
    padding: 2rem 1rem;
  }
  .pushy .btn-group {
    width: auto;
    padding: 0 4rem;
    margin-bottom: 0;
  }
  .pushy .navbar-sign {
    float: none;
  }
  .pushy .menu-btn {
    z-index: 101;
    top: 2rem;
    left: 2rem;
    background-image: url('../img/menu-btn__mobile.png');
  }
  .pushy .nav-stacked {
    margin-bottom: 5%;
  }
  .pushy .footer-soc {
    margin-top: 5%;
  }
  /* MODALS */
  .modal.modal-log__in .modal-log_note__reg {
    display: none;
  }
  .modal.modal-log__in .modal-log_btn__reg {
    display: none;
  }
  .modal.modal-log__in .form-group__name {
    display: none;
  }
  .modal.modal-log__reg .modal-log_note__in {
    display: none;
  }
  .modal.modal-log__reg .modal-log_btn__in {
    display: none;
  }
  .modal.modal-log__reg .modal-log_link-restore {
    display: none;
  }
  .modal {
    background-color: rgba(0, 0, 37, 0.8);
  }
  .modal .close {
    left: 2rem;
    top: 1.5rem;
    z-index: 15;
    opacity: .6;
    width: 2rem;
    height: 2rem;
    background-size: 100%;
  }
  .modal-log {
    color: white;
  }
  .modal-log .modal-dialog {
    margin: 0;
    width: 32rem;
  }
  .modal-log_title {
    line-height: 1;
    font-size: 2.8rem;
  }
  .modal-log_note {
    font-size: 1.3em;
    margin-bottom: 2rem;
  }
  .modal-form {
    width: 100%;
  }
  .modal-log_link-restore {
    float: left;
    margin-top: 2rem;
    display: inline-block;
  }
  .modal-log_submit {
    margin-top: 3rem;
  }
  .modal-call .modal-dialog {
    margin: 0;
    width: 32rem;
  }
  .modal-call_title {
    font-size: 2.8em;
  }
  .modal-call_note {
    font-size: 1.3em;
    margin-bottom: 3rem;
  }
  .modal-call_submit {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .row__footer > div + div {
    float: left;
    *display: inline;
    display: inline-block;
    padding: 0 0%;
    width: 33.33333333%;
    *width: 33.28125%;
    padding: 0 1.5rem;
  }
  .footer-design {
    padding-right: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  /* ----- SECTION partners ----- */
  .partners-item {
    background-size: 70%;
  }
}
