/* ===== NORMALIZE-SANITIZE ===== */

html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1.4;
  cursor: default;
  color: #222;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
         text-size-adjust: 100%;
}


/* ----- HELPER CLASSES ----- */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}


/* ----- BASIC STYLES ----- */

body {
  margin:  0;
  padding: 0;
}

p {
  margin: 0; 
}

h1, h2 {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  font-style: normal;
  font-weight:   500;  
  margin: 0;
}

h1 {
  font-size: 3.6rem; 
}

h2 {
  font-size: 3rem; 
}

h3 {
  margin: 0; 
  font-size:  2.4rem;
  font-style: normal;
  font-weight:   500;
}

h4 {
  margin: 0; 
  font-size:  1.8rem;
  font-style: normal;
  font-weight:   600;
}

h5 {
  margin: 0; 
  font-size:  1.6rem;
  font-style: normal;
  font-weight:   600;
}

h6 {
  margin: 0; 
  color: #777;
  font-size:  1.4rem;
  font-style: normal;
  font-weight:   600;
}

hr {
  display: block;
  margin: 1em 0;
  padding:    0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

nav ul {
  margin:  0;
  padding: 0;
  list-style: none;
  text-align: center; 
}

nav a {
  color: #444;
  text-decoration: none;
  -webkit-transition: .25s ease;
          transition: .25s ease; 
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

figure {
  margin: 0 0 1rem;
}

footer {
  padding: 1rem 0; 
  clear: both;
}

[hidden],
template {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; 
}

*, ::before, ::after {
  box-sizing: inherit; 
  border-style: solid;
  border-width:     0;
}

* {
  margin:  0;
  padding: 0; 
  font-size: inherit;
  line-height: inherit;
}

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; 
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/* ----- DECORATION TEXT ----- */

dl {
  margin-bottom: 1.6rem; 
}

dd {
  margin-left: 4rem; 
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%; 
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  display: block;
  overflow: auto;
  margin: 1.6rem 0;
  padding:  1.6rem;
  word-break: break-all;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1em;
}


/* ----- FORM ELEMENTS ----- */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

select {
  text-transform: none;
  background-color: #fff;
  border: .1rem solid #ccc; 
}

input {
  line-height: normal;
}

input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button,
input[type="button"], input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: baseline;
  text-transform: uppercase;
  text-decoration:     none;
  text-align:        center;
  background-color: transparent;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .25s ease;
          transition: .25s ease;
}

button:disabled,
input[type=submit]:disabled { 
  opacity: .4; 
  box-shadow: none;
  cursor: not-allowed;
}

input[type="datetime-local"][disabled], 
input[type="password"][disabled], 
input[type="datetime"][disabled], 
input[type="number"][disabled], 
input[type="search"][disabled], 
input[type="email"][disabled],
input[type="month"][disabled], 
input[type="color"][disabled], 
input[type="text"][disabled],
input[type="date"][disabled],  
input[type="time"][disabled],  
input[type="week"][disabled], 
input[type="url"][disabled], 
input[type="tel"][disabled],   
textarea[disabled],
select[disabled] { 
  color: #777;
  cursor: not-allowed; 
  background-color: #efefef;
}

input:not([type])[disabled] {
  color: #777;
  cursor: not-allowed; 
  background-color: #efefef;
}

input[readonly],
select[readonly],
textarea[readonly] {
  color: #777; 
  border-color: #ccc;
  background-color: #efefef;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="datetime-local"], 
input[type="password"], 
input[type="datetime"], 
input[type="number"], 
input[type="search"], 
input[type="email"], 
input[type="month"], 
input[type="color"], 
input[type="text"], 
input[type="date"], 
input[type="time"], 
input[type="week"], 
input[type="url"], 
input[type="tel"], 
select {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle; 
  border: .1rem solid #ccc;
}

input:not([type]) {
  display: inline-block;
  padding: 0.8rem;
  text-align: left; 
  border-radius: 0;
  border: .1rem solid #ccc;
  background-clip: padding-box;
  background-color:       #fff;
  -webkit-appearance: none;
  color: #444;
}

input[type="datetime-local"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="email"]:focus, 
input[type="month"]:focus, 
input[type="color"]:focus, 
input[type="text"]:focus, 
input[type="date"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="url"]:focus, 
input[type="tel"]:focus, 
select:focus, 
textarea:focus {
  border-color: #b3d4fc; 
}

input:not([type]):focus {
  border-color: #b3d4fc; 
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus {
  outline: .1rem solid thin #444; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="number"] {
  width: auto; 
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea:focus:invalid, 
select:focus:invalid,
/*input:focus:invalid*/
{ 
  color: #b94a48; 
  border-color: #e9322d;
}

input[type="checkbox"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus, 
input[type="file"]:focus:invalid:focus { 
  outline-color: #ff4136; 
}

fieldset {
  padding: 0.8rem 0; 
  margin: 0;
  border: 0;
}

legend {
  border: 0;
  padding: 0;
}

label {
  line-height: 2; 
}

textarea {
  display: block;
  overflow: auto;
  margin-bottom: 0.8rem;
  padding:       0.8rem;
  resize: vertical;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: middle;
}

optgroup {
  font-weight: bold;
}


/* ----- TABLE ELEMENTS ----- */

table {
  border-collapse: collapse;
  margin-bottom: 1.6rem;
  border-spacing: 0;
}

caption {
  padding: 0.8rem 0; 
}

td,
th {
  padding: 0;
  text-align: center;
  vertical-align: inherit;
  border: .1rem solid #ccc;
}


/* ----- @MEDIA ----- */

/*
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
       Style adjustments for high resolution devices
}
 */

@media screen {
  [hidden~="screen"] {
      display: inherit; 
  }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
      position: absolute !important; 
      clip: rect(0 0 0 0) !important;
  } 
}

@media print {
  *, *:before, *:after {
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
      background: transparent !important;
  }

  a, a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group;
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  p,
  h2, h3 {
      orphans: 3;
      widows: 3;
  }

  h2, h3 {
      page-break-after: avoid;
  }
} 

/* ===== GRID ===== */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* ===== #AUTHOR'S STYLES ===== */
/* ----- general rules ----- */
body,
h1,
h2 {
  font-family: 'PT Serif', serif;
}
.container {
  max-width: 182.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}
button {
  width: 13.6em;
  height: 2.7em;
  font-size: 2.2em;
  line-height: normal;
  border-radius: 1.36em;
  vertical-align: middle;
  background: #fcbb23;
  border: 3px solid #222222;
}
button:hover {
  border: 3px solid #8e6d20;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
input[type="text"] {
  padding: .7em;
  padding-left: 1em;
  margin-bottom: 2.4rem;
  border-radius: 1.43em;
  font-size: 2.1em;
  font-weight: 400;
}
input[type="email"] {
  padding: .7em;
  padding-left: 1em;
  margin-bottom: 2.4rem;
  border-radius: 1.43em;
  font-size: 2.1em;
  font-weight: 400;
}
textarea {
  padding: 1em;
  border-radius: 1.43em;
  font-size: 2.1em;
  font-weight: 400;
}
/* DIV .feedback__form-popup */
.feedback__form-popup {
  top: 50%;
  left: 50%;
  z-index: 6;
  opacity: 0;
  width: 60em;
  display: none;
  padding: 0 6em;
  position: fixed;
  border-radius: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url('../img/feedback-bg.png');
}
.form-popup {
  padding: 4em 0;
}
.form-popup a {
  position: absolute;
  top: 15px;
  right: 15px;
}
.form-popup p {
  margin-bottom: 2.5rem;
  font-weight: normal;
  text-align: center;
  font-size: 3.6em;
}
.form-popup input,
.form-popup button {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.form-popup input {
  margin-bottom: 2.5rem;
}
/* #overlay for popup */
#overlay {
  top: 0;
  left: 0;
  z-index: 5;
  opacity: .7;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  cursor: pointer;
  background-color: #000;
}
.slicknav_menu {
  display: none !important;
}
/* ----- HEADER -----*/
.header-top {
  min-height: 9.5em;
  background: #222222;
}
.header-top .container {
  line-height: 9.5em;
}
.header-top .wrapper {
  float: right;
}
.header-top button {
  margin-right: 4rem;
}
.header_logo {
  padding-left: .8em;
  font-size: 2.4em;
  font-weight: 300;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 0 65%;
  background-size: .54em .8em;
  background-image: url('../img/header_logo.png');
}
.header_logo:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.phone {
  vertical-align: middle;
  display: inline-block;
  font-size: 3.6em;
  line-height: .8;
  color: #fff;
}
.phone span {
  font-size: 50%;
}
.header-nav {
  height: 14.2em;
  background: url('../img/header-nav_bg.png');
}
.header-nav .container {
  position: relative;
  line-height: 14.2em;
}
.header-nav h1 {
  vertical-align: middle;
  display: inline-block;
  padding-bottom: .5em;
  line-height: normal;
  font-size: 4.8em;
}
.nav {
  float: right;
}
.menu {
  display: inline-block;
  list-style-type: none;
  line-height: normal;
}
.menu > li:first-child {
  display: none;
}
.menu > li {
  position: relative;
  padding: .9em 2em;
  display: inline-block;
  border-radius: 3.1em;
}
.menu > li:last-child {
  margin-right: -2em;
}
.menu > li > a {
  color: #000;
  font-size: 2.4em;
  padding-bottom: .2em;
}
.menu > li > a:hover {
  border-bottom: .125em solid #000;
}
.menu .current {
  background-color: #000;
}
.menu .current a {
  color: #fff;
}
.has-submenu {
  background-repeat: no-repeat;
  background-position: 98.5% 60%;
  background-image: url('../img/sign.png');
}
.has-submenu.current {
  background-image: url('../img/sign-white.png');
}
li.has-submenu a:hover {
  border-bottom: 0;
}
.has-submenu:hover .submenu {
  display: block;
}
.submenu {
  top: 2.3em;
  z-index: 4;
  display: none;
  line-height: 1.5;
  list-style: none;
  font-size: 2.1em;
  min-width: 14.4em;
  position: absolute;
  padding: 1em 2em 1em 1em;
  border: .2rem solid brown;
  border-radius: 0 1rem 1rem;
  background: #222222;
}
.submenu a {
  color: #fff;
}
.submenu a:hover {
  text-decoration: underline;
}
/* ----- SECTION .assortment ----- */
.assortment {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/assortment_bg.jpg');
}
.assortment_item {
  display: inline-block;
  *display: inline;
  float: left;
  width: 33.33333333%;
  margin: 0 0%;
  *width: 33.28125%;
  *margin: 0 -0.05208333%;
  height: 0;
  position: relative;
  text-align: center;
  padding-top: 20.8%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.assortment_item a {
  z-index: 3;
  width: 80%;
  color: #fff;
  line-height: .9;
  font-size: 3.5em;
  margin: 22% auto 0;
  padding-bottom: 3%;
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
}
.assortment_item a:hover {
  opacity: 0.6;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.assortment_item a:hover + .overlay {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.assortment_item .line {
  margin: auto;
  width: 1.85em;
  height: .28em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 0.08em solid #fcbb23;
}
.assortment_item .overlay {
  top: 0;
  z-index: 2;
  opacity: .6;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #161717;
}
.assortment_item .overlay:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.wreaths {
  background-image: url('../img/wreaths.png');
}
.flowers {
  background-image: url('../img/flowers.png');
}
.coffins {
  background-image: url('../img/coffins.png');
}
.monuments {
  background-image: url('../img/monuments.png');
}
.crosses {
  background-image: url('../img/crosses.png');
}
.fanses {
  background-image: url('../img/fanses.png');
}
/* ----- SECTION .advantage ----- */
.advantage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: .2rem solid #000;
  background-image: url('../img/advantage_bg.jpg');
}
.advantage .container {
  padding-top: 9em;
  padding-bottom: 10.5em;
}
.advantage h2 {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 4.8em;
}
.advantage_item {
  display: inline-block;
  padding-left: 20.5em;
  min-height: 18em;
  margin-left: 5%;
  width: 45%;
  vertical-align: top;
  background-position: 0 0;
  background-size: 18em;
  background-repeat: no-repeat;
}
.advantage_item h3 {
  margin-bottom: 1rem;
  font-size: 3.6em;
}
.advantage_item div {
  font-size: 2.4em;
}
.advantage_item1 {
  background-image: url('../img/advantage_item1.png');
}
.advantage_item2 {
  background-image: url('../img/advantage_item2.png');
}
.advantage_item3 {
  margin-top: 6rem;
  background-image: url('../img/advantage_item3.png');
}
.advantage_item4 {
  margin-top: 6rem;
  background-image: url('../img/advantage_item4.png');
}
.advantage_item5 {
  margin-top: 6rem;
  background-image: url('../img/advantage_item5.png');
}
.advantage_item6 {
  margin-top: 6rem;
  background-image: url('../img/advantage_item6.png');
}
.advantage_item7 {
  margin-top: 6rem;
  background-image: url('../img/advantage_item7.png');
}
.advantage_item8 {
  margin-top: 6rem;
  background-image: url('../img/advantage_item8.png');
}
/* ----- SECTION .consult ----- */
.consult {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/article-consult-scheme_bg.png');
}
.consult .container {
  padding-top: 8.5em;
  padding-bottom: 10em;
  text-align: center;
}
.consult h2 {
  font-size: 4.8em;
}
.consult p {
  margin-bottom: 3.5rem;
  font-size: 2.4em;
}
.feedback__form-inline input {
  margin: 0 1.5rem 0 0;
}
.button__black {
  color: #fff;
  background-color: #000;
}
/* ----- ARTICLE ----- */
article {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/article_bg.png');
}
article .container {
  padding-top: 10em;
  padding-bottom: 10em;
}
article p {
  color: #fff;
  font-size: 2.4em;
  line-height: 1.7;
}
article p + p {
  margin-top: 0.75em;
}
.article-text {
  padding: 0 8%;
}
/* ----- SECTION .scheme-of-work ----- */
.scheme-of-work {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/article-consult-scheme_bg.png');
}
.scheme-of-work .container {
  padding-top: 8em;
  padding-bottom: 10.5em;
}
.scheme-of-work h2 {
  font-size: 4.8em;
  text-align: center;
  margin-bottom: .8em;
}
.scheme {
  min-height: 25em;
  position: relative;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.scheme p {
  margin-left: 2.8em;
  font-size: 2.2em;
  color: #fff;
}
.scheme1 {
  width: 27.3%;
  background-image: url('../img/scheme1.png');
}
.scheme2 {
  width: 29.3%;
  margin-left: -4.27%;
  background-image: url('../img/scheme2.png');
}
.scheme3 {
  width: 28.3%;
  margin-left: -4.24%;
  background-image: url('../img/scheme3.png');
}
.scheme4 {
  width: 27.4%;
  margin-left: -4.2%;
  background-image: url('../img/scheme4.png');
}
.scheme-wrapper {
  width: 60%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 15%;
}
.scheme-number {
  float: left;
  width: 1.6em;
  height: 1.6em;
  font-size: 3em;
  background: #fff;
  line-height: 1.6em;
  text-align: center;
  border-radius: 2.5em;
}
/* ----- SECTION .travel-agent ----- */
.travel-agent {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/travel-agent-bg.png');
}
.travel-agent .container {
  padding-top: 9em;
  padding-bottom: 10.5em;
}
.travel-agent h2 {
  color: #fff;
  font-size: 4.8em;
  text-align: center;
  margin-bottom: 3rem;
}
.travel-agent_wrapper {
  max-width: 148rem;
  margin: 0 auto;
}
.travel-agent_wrapper > p {
  margin-right: 17.3em;
  font-size: 2.6em;
  line-height: 1.6;
  color: #fff;
}
.travel-agent_wrapper p + p {
  margin-top: 1em;
}
.feedback__form-call {
  float: right;
  width: 39.5em;
  padding: 3.5em;
  border-radius: 1em;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/feedback-bg.png');
}
.form-call p {
  margin-bottom: .8em;
  text-align: center;
  font-size: 3.2em;
  color: #000;
}
.form-call input,
.form-call button {
  width: 100%;
}
/* ----- SECTION .navigation ----- */
.navigation {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/navigation-bg.png');
}
.navigation_wrapper {
  padding: 9em 10% 10em;
}
.navigation_wrapper ul {
  display: inline-block;
  *display: inline;
  float: left;
  width: 25%;
  margin: 0 0%;
  *width: 24.94791667%;
  *margin: 0 -0.05208333%;
  font-size: 2.1em;
  list-style: none;
}
.navigation_wrapper ul.ped {
  padding-left: 3%;
}
.navigation_wrapper a {
  color: #000;
  line-height: 1.7;
}
.navigation_wrapper a:hover {
  text-decoration: underline;
  opacity: .6;
}
.navigation_wrapper .big {
  color: brown;
  line-height: 1.7;
  text-transform: uppercase;
}
/* ----- FOOTER ----- */
footer {
  min-height: 12em;
  background: #222222;
  border-top: 0.2rem solid #fcbb23;
}
footer .container {
  line-height: 10em;
}
footer .wrapper {
  float: left;
}
footer button {
  margin-left: 4.5em;
}
.footer_logo {
  float: right;
}
.footer_logo a {
  width: 16.5em;
  height: 5em;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/footer_logo.png');
}
/* PAGE .buro */
/* ----- ARTICLE ----- */
.buro article {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/article-consult-scheme_bg.png');
}
.buro article .container {
  padding-top: 4.8em;
  padding-bottom: 4.8em;
}
.buro article h2 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 4.8em;
  font-weight: normal;
}
.buro article p {
  color: #000;
}
.buro .article-text {
  padding: 0 10%;
}
.buro .navigation {
  background-image: url('../img/navigation-bg__black.jpg');
}
.buro a {
  color: #fff;
}
.buro .big {
  color: yellow;
}
/* PAGE .category */
/* ----- SECTION .catalog ----- */
.catalog {
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-image: url('../img/navigation-bg__black.jpg');
}
.catalog .container {
  padding-top: 9em;
  padding-bottom: 10.5em;
  text-align: center;
}
.catalog h1 {
  margin-bottom: 1.35em;
  font-weight: normal;
  font-size: 4.8em;
  color: #fff;
}
.catalog .products {
  padding: 0 9em;
}
.products_line {
  display: block;
  margin: 0 0%;
  *margin: 0 -0.05208333%;
  *zoom: 1;
  margin: 0 -2.2% 4.5em;
}
.products_line:before,
.products_line:after {
  content: "";
  display: table;
}
.products_line:after {
  clear: both;
}
.products_line .product_item {
  display: inline-block;
  *display: inline;
  float: left;
  width: 25%;
  margin: 0 0%;
  *width: 24.94791667%;
  *margin: 0 -0.05208333%;
  padding: 0 2.2%;
}
.product_item h2 {
  margin-top: .75em;
  font-size: 3.2em;
  text-align: left;
  line-height: 1;
  color: #fff;
}
.product_item span {
  font-size: 65%;
  line-height: 2.5;
}
/* ----- SECTION .navigation ----- */
.category .navigation {
  background-image: url('../img/navigation-bg.png');
}
/* PAGE .contacts */
/* ----- SECTION .contacts-info ----- */
.contacts-info {
  background: #222222;
}
.contacts-info .container {
  padding-top: 8em;
  padding-bottom: 9em;
}
.contacts-info h1 {
  margin-bottom: 1.25em;
  font-size: 4.8em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
.contacts-line {
  display: block;
  margin: 0 0%;
  *margin: 0 -0.05208333%;
  *zoom: 1;
  max-width: 140em;
  margin: 0 auto;
}
.contacts-line:before,
.contacts-line:after {
  content: "";
  display: table;
}
.contacts-line:after {
  clear: both;
}
.contacts-line .feedback__form-block {
  display: inline-block;
  *display: inline;
  float: left;
  width: 53.33333333%;
  margin: 0 0%;
  *width: 53.28125%;
  *margin: 0 -0.05208333%;
  border-right: .2rem solid #fcbb23;
}
.contacts-line .feedback__text {
  display: inline-block;
  *display: inline;
  float: left;
  width: 46.66666667%;
  margin: 0 0%;
  *width: 46.61458333%;
  *margin: 0 -0.05208333%;
  padding-left: 8em;
}
.form-block {
  width: 64em;
  text-align: center;
}
.form-block input[type="text"] {
  float: left;
}
.form-block input[type="email"] {
  float: right;
}
.form-block textarea {
  width: 100%;
  margin: 0 auto;
  min-height: 13em;
  margin-bottom: 2.4em;
}
.feedback__text div {
  margin-bottom: 2.1rem;
  font-size: 3em;
  color: #fff;
}
/* ----- SECTION .map ----- */
.map {
  height: 63em;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* ----- SECTION .navigation ----- */
.contacts .navigation {
  background-image: url('../img/navigation-bg.png');
}
.js .slicknav_menu {
  display: block;
}
/* ===== MOBILE MENU ===== */
.slicknav_btn {
  float: right;
  cursor: pointer;
  padding: .7em .9em;
  margin-right: 1.5em;
  margin-top: .9em;
  line-height: 1.125em;
  text-decoration: none;
  background-color: #222;
  vertical-align: middle;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.slicknav_menu {
  *zoom: 1;
  right: 0;
  z-index: 4;
  width: 100%;
  font-size: 1.6rem;
  position: absolute;
  box-sizing: border-box;
}
.slicknav_menu * {
  box-sizing: border-box;
}
.slicknav_menu .slicknav_menutxt {
  float: left;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-right: .5em;
  line-height: 1.188em;
  text-shadow: 0 1px 3px #000;
}
.slicknav_menu .slicknav_icon {
  margin: .2em 0;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: .125em;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_menu:before {
  display: table;
  content: " ";
}
.slicknav_menu:after {
  display: table;
  content: " ";
  clear: both;
}
.slicknav_nav {
  margin: 0;
  padding: 0;
  top: 7.1rem;
  width: 100%;
  clear: both;
  color: #fff;
  list-style: none;
  overflow: hidden;
  font-size: 1.2em;
  position: absolute;
  line-height: normal;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
}
.slicknav_nav ul {
  z-index: 1;
  padding: 0;
  top: -0.05rem;
  border: none;
  display: block;
  overflow: hidden;
  margin-left: 1em;
  border-radius: 0;
  background: none;
  font-size: inherit;
  position: relative;
}
.slicknav_nav li,
.slicknav_nav li.current {
  display: block;
  background-image: none;
}
.slicknav_nav .slicknav_arrow {
  margin-left: .4em;
  font-size: .8em;
}
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_nav .slicknav_item:hover a {
  color: #000;
}
.slicknav_nav .slicknav_item a {
  margin: 0;
  padding: 0;
  display: inline;
}
.slicknav_nav a {
  color: #fff;
  display: block;
  margin: 2px 5px;
  padding: 5px 10px;
  text-decoration: none;
}
.slicknav_nav a:hover {
  color: #222;
  background: yellow;
  text-decoration: none;
  border-radius: 6px;
}
.slicknav_nav .slicknav_parent-link a {
  display: inline;
  margin: 0;
  padding: 0;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.slicknav_brand {
  color: #fff;
  float: left;
  height: 44px;
  font-size: 18px;
  padding: 7px 12px;
  line-height: 30px;
}
/* ===== #MADIA QUERIES FOR RESPONSIVE DESIGN ===== */
@media screen and (max-width: 1400px) {
  body {
    font-size: .8rem;
  }
  .contacts-line {
    width: 150em;
  }
  .contacts-line .feedback__form-block {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .contacts-line .feedback__text {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
}
@media screen and (max-width: 1150px) {
  body {
    font-size: .65rem;
  }
  .contacts-line {
    width: 150em;
  }
  .contacts-line .feedback__form-block {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .contacts-line .feedback__text {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
}
@media screen and (max-width: 950px) {
  body {
    font-size: .55rem;
  }
  .contacts-line {
    width: 150em;
  }
  .contacts-line .feedback__form-block {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .contacts-line .feedback__text {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .scheme-wrapper {
    width: 75%;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 8%;
  }
}
@media screen and (max-width: 750px) {
  body {
    font-size: .5rem;
  }
  .contacts-line {
    width: 150em;
  }
  .contacts-line .feedback__form-block {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .contacts-line .feedback__text {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .submenu {
    top: 2.2em;
    min-width: 15em;
  }
  .has-submenu {
    background-position: 100% 60%;
  }
  .scheme-wrapper {
    width: 75%;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 10%;
  }
}
@media screen and (max-width: 700px) {
  .header-top {
    min-height: 4.3rem;
    background: #222222;
  }
  .header-top .container {
    line-height: 4.3rem;
  }
  .header-nav {
    height: 6.4rem;
  }
  .header-nav .container {
    line-height: 6.4rem;
  }
  #menu {
    display: none;
  }
  .slicknav_menu {
    display: block !important;
  }
  .assortment_item {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
    padding-top: 31.25%;
  }
  .assortment_item a {
    margin: 25% auto 0;
  }
  .advantage_item {
    margin-left: 3%;
    padding-right: 3%;
    display: block;
    width: 100%;
  }
  .advantage_item + .advantage_item {
    margin-top: 5%;
  }
  .article-text {
    padding: 0;
  }
  .scheme-wrapper {
    width: 75%;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 15%;
  }
  .scheme-number {
    margin-top: 12%;
  }
  .navigation_wrapper {
    padding: 9em 0 10em;
  }
  .navigation_wrapper ul {
    display: inline-block;
    *display: inline;
    float: left;
    width: 33.33333333%;
    margin: 0 0%;
    *width: 33.28125%;
    *margin: 0 -0.05208333%;
  }
  .navigation_wrapper ul.ped {
    padding-left: 0;
  }
  .navigation_wrapper ul:last-child {
    clear: left;
    margin-top: -16.5%;
  }
  .buro .article-text {
    padding: 0;
  }
  .catalog .products {
    padding: 0;
  }
  .products_line {
    margin: 0 -4%;
  }
  .products_line .product_item {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
    padding: 0 4%;
    margin-bottom: 5%;
  }
  .products_line .product_item h2 {
    font-size: 3.5em;
  }
  .products_line .product_item span {
    font-size: 75%;
  }
  .contacts-line {
    width: 120em;
  }
  .contacts-line .feedback__form-block {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .contacts-line .feedback__text {
    display: inline-block;
    *display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    *width: 49.94791667%;
    *margin: 0 -0.05208333%;
  }
  .form-block {
    width: 50em;
  }
  .form-block input[type="text"] {
    display: block;
    float: none;
    width: 100%;
  }
  .form-block input[type="email"] {
    display: block;
    float: none;
    width: 100%;
  }
  .form-block textarea {
    width: 100%;
    margin: 0 auto;
    min-height: 7em;
    margin-bottom: 2.4em;
  }
  footer {
    min-height: 4.5rem;
  }
  footer .container {
    line-height: 4.5rem;
  }
}
@media screen and (max-width: 639px) {
  .header-top button {
    height: 3.2em;
    width: 12.5em;
    border-radius: 1.6em;
  }
  footer button {
    height: 3.2em;
    width: 12.5em;
    border-radius: 1.6em;
  }
  .catalog button {
    height: 3.2em;
    width: 12.5em;
    border-radius: 1.6em;
  }
  .header-top .wrapper {
    float: none;
    width: 100%;
  }
  .header-top button {
    margin: 0;
  }
  .header_logo {
    display: none;
  }
  .phone {
    float: right;
    padding-top: 3%;
  }
  .feedback__form-inline input {
    width: 50%;
    display: block;
    margin: 0 auto 1em;
  }
  .button__black {
    width: 50%;
  }
  article {
    display: none;
  }
  .buro article {
    display: block;
  }
  .scheme-of-work {
    display: none;
  }
  .feedback__form-call {
    float: none;
    width: 60%;
    display: block;
    margin: auto;
  }
  .travel-agent_wrapper > p {
    margin: 2rem 0 0;
  }
  .footer_logo {
    display: none;
  }
  footer .wrapper {
    float: none;
  }
  footer .wrapper button {
    margin: 0;
  }
  .contacts-line {
    width: 100%;
  }
  .contacts-line .feedback__form-block {
    display: inline-block;
    *display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
    *width: 99.94791667%;
    *margin: 0 -0.05208333%;
    border: none;
    border-bottom: .2rem solid #fcbb23;
  }
  .contacts-line .feedback__text {
    display: inline-block;
    *display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
    *width: 99.94791667%;
    *margin: 0 -0.05208333%;
    padding: 2.5rem 0;
    text-align: center;
  }
  .contacts-line .feedback__text div {
    margin-bottom: 1rem;
  }
  .form-block {
    width: 60%;
    margin: 0 auto 2rem;
  }
}
@media screen and (max-width: 399px) {
  body {
    font-size: .45rem;
  }
  .slicknav_nav {
    top: 6.5rem;
  }
  .assortment_item {
    display: inline-block;
    *display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
    *width: 99.94791667%;
    *margin: 0 -0.05208333%;
    padding-top: 62.5%;
    font-size: .8rem;
  }
  .advantage_item {
    margin-left: 3%;
    padding-right: 3%;
    display: block;
    width: 100%;
  }
  .advantage_item + .advantage_item {
    margin-top: 8%;
  }
  .feedback__form-call {
    width: 80%;
  }
  .form-call p {
    margin-bottom: .5em;
    font-size: 3.6em;
  }
  .form-call input,
  .form-call button {
    width: 100%;
    font-size: 1.3rem;
  }
  .navigation_wrapper {
    padding: 9em 0 10em;
  }
  .navigation_wrapper ul {
    display: inline-block;
    *display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
    *width: 99.94791667%;
    *margin: 0 -0.05208333%;
    padding: 0;
    font-size: 4em;
    text-align: center;
    margin-bottom: 3rem;
  }
  .navigation_wrapper ul.ped {
    padding: 0;
    margin-top: 0;
  }
  .navigation_wrapper ul:last-child {
    clear: none;
    margin: 0;
  }
  .catalog .products {
    padding: 0;
  }
  .products_line {
    margin: 0 -15%;
  }
  .products_line .product_item {
    display: inline-block;
    *display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
    *width: 99.94791667%;
    *margin: 0 -0.05208333%;
    padding: 0 15%;
    margin-bottom: 10%;
  }
  .products_line .product_item h2 {
    font-size: 4.5em;
  }
  .products_line .product_item span {
    font-size: 65%;
  }
  button {
    font-size: 2.5em;
  }
  .contacts-line {
    width: 100%;
  }
  .contacts-line .feedback__form-block {
    display: inline-block;
    *display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
    *width: 99.94791667%;
    *margin: 0 -0.05208333%;
  }
  .contacts-line .feedback__text {
    display: inline-block;
    *display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
    *width: 99.94791667%;
    *margin: 0 -0.05208333%;
  }
  .form-block {
    width: 80%;
    font-size: 1.5em;
  }
  .form-block input[type="text"] {
    display: block;
    float: none;
    width: 100%;
  }
  .form-block input[type="email"] {
    display: block;
    float: none;
    width: 100%;
  }
  .form-block textarea {
    width: 100%;
    margin: 0 auto;
    min-height: 7em;
    margin-bottom: 2.4em;
  }
}
