/* ===== NORMALIZE-SANITIZE ===== */
html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1.4;
  cursor: default;
  color: #222;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* ----- HELPER CLASSES ----- */
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

/* ----- BASIC STYLES ----- */
body {
  *zoom: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body:before, body:after {
  content: '';
  display: table; }

body:after {
  clear: both; }

p {
  margin: 0; }

h1, h2 {
  margin: 0;
  font-weight: 500;
  font-style: normal; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3rem; }

h3 {
  margin: 0;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500; }

h4 {
  margin: 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600; }

h5 {
  margin: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600; }

h6 {
  margin: 0;
  color: #777;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

nav a {
  color: #444;
  text-decoration: none;
  -webkit-transition: .25s ease;
  transition: .25s ease; }

a {
  background-color: transparent;
  text-decoration: none;
  outline: none; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figcaption,
article,
details,
section,
summary,
figure,
footer,
header,
hgroup,
aside,
main,
menu,
nav {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

iframe,
img,
svg,
video {
  vertical-align: middle; }

audio:not([controls]) {
  display: none;
  height: 0; }

figure {
  margin: 0 0 1rem; }

footer {
  clear: both; }

[hidden],
template {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*, ::before, ::after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ----- DECORATION TEXT ----- */
dl {
  margin-bottom: 1.6rem; }

dd {
  margin-left: 4rem; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

big {
  font-size: 125%; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  display: block;
  overflow: auto;
  margin: 1.6rem 0;
  padding: 1.6rem;
  word-break: break-all;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1em; }

/* ----- FORM ELEMENTS ----- */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

select {
  text-transform: none;
  background-color: #fff;
  border: .1rem solid #ccc; }

input {
  line-height: normal; }

input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button; }

button,
input[type="button"], input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: baseline;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .25s ease;
  transition: .25s ease; }

button:disabled,
input[type=submit]:disabled {
  opacity: .4;
  box-shadow: none;
  cursor: not-allowed; }

input[type="datetime-local"][disabled],
input[type="password"][disabled],
input[type="datetime"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="text"][disabled],
input[type="date"][disabled],
input[type="time"][disabled],
input[type="week"][disabled],
input[type="url"][disabled],
input[type="tel"][disabled],
textarea[disabled],
select[disabled] {
  color: #777;
  cursor: not-allowed;
  background-color: #efefef; }

input:not([type])[disabled] {
  color: #777;
  cursor: not-allowed;
  background-color: #efefef; }

input[readonly],
select[readonly],
textarea[readonly] {
  color: #777;
  border-color: #ccc;
  background-color: #efefef; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="datetime-local"],
input[type="password"],
input[type="datetime"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="month"],
input[type="color"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="week"],
input[type="url"],
input[type="tel"],
select {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  border: .1rem solid #ccc; }

input:not([type]) {
  display: inline-block;
  padding: 0.8rem;
  text-align: left;
  border-radius: 0;
  border: .1rem solid #ccc;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-appearance: none;
  color: #444; }

input[type="datetime-local"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #b3d4fc; }

input:not([type]):focus {
  border-color: #b3d4fc; }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: .1rem solid thin #444; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

input[type="checkbox"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="file"]:focus:invalid:focus {
  outline-color: #ff4136; }

fieldset {
  padding: 0.8rem 0;
  margin: 0;
  border: 0; }

legend {
  border: 0;
  padding: 0; }

label {
  line-height: 2; }

textarea {
  display: block;
  overflow: auto;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  resize: vertical;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: middle; }

optgroup {
  font-weight: bold; }

/* ----- TABLE ELEMENTS ----- */
table {
  border-collapse: collapse;
  margin-bottom: 1.6rem;
  border-spacing: 0; }

caption {
  padding: 0.8rem 0; }

td,
th {
  padding: 0;
  text-align: center;
  vertical-align: inherit;
  border: .1rem solid #ccc; }

/* ----- @MEDIA ----- */
/*
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
       Style adjustments for high resolution devices
}
 */
@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

@media print {
  *, *:before, *:after {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: transparent !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

*:focus::-moz-placeholder {
  color: transparent !important; }

*[autofocus]::-moz-placeholder:focus {
  color: graytext !important; }

*:focus:-moz-placeholder {
  color: transparent !important; }

*[autofocus]:-moz-placeholder:focus {
  color: graytext !important; }

*:focus::-webkit-input-placeholder {
  color: transparent !important; }

*[autofocus]::-webkit-input-placeholder {
  color: graytext !important; }

/* ===== GRID ===== */
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: '';
    display: table; }
  body:after {
    clear: both; }

/* ===== SLICK-SLIDER ===== */
.slick-slider {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: hand;
  cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  top: 0;
  left: 0;
  display: block;
  position: relative; }

.slick-track:after,
.slick-track:before {
  content: '';
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  display: none;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  height: auto;
  display: block;
  border: 1px solid transparent; }

/* ----- DEFAULT THEME ----- */
/* Arrows */
.slick-prev,
.slick-next {
  top: 50%;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  outline: none;
  display: block;
  line-height: 0;
  cursor: pointer;
  margin-top: -10px;
  position: absolute;
  color: transparent;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none; }

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  color: white;
  opacity: .75;
  line-height: 1;
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '<'; }

[dir='rtl'] .slick-prev:before {
  content: '>'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '>'; }

[dir='rtl'] .slick-next:before {
  content: '<'; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  padding: 0;
  width: 100%;
  bottom: -45px;
  display: block;
  list-style: none;
  position: absolute;
  text-align: center; }

.slick-dots li {
  padding: 0;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  display: inline-block; }

.slick-dots li button {
  border: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  font-size: 0;
  opacity: .35;
  outline: none;
  display: block;
  line-height: 0;
  cursor: pointer;
  color: transparent;
  border-radius: 7px;
  background: #12f729; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  opacity: 1;
  outline: none; }

.slick-dots li.slick-active button {
  opacity: .6; }

/* ===== MOBILE MENU ===== */
.slicknav_menu {
  right: 0;
  z-index: 3;
  width: 100%;
  font-size: 16px;
  position: absolute;
  background-color: transparent; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    float: left;
    color: #fff;
    display: block;
    font-weight: bold;
    margin-right: .5em;
    line-height: 1.188em;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon {
    margin: .2em 0; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: .125em;
    background-color: #5d86b7;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    display: table;
    content: " "; }
  .slicknav_menu:after {
    display: table;
    content: " ";
    clear: both; }

.slicknav_btn {
  float: right;
  display: block;
  cursor: pointer;
  margin-top: .5rem;
  margin-right: 1rem;
  position: relative;
  padding: .43em .62em;
  line-height: 1.125em;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_nav {
  margin: 0;
  top: 1.9rem;
  width: 100%;
  clear: both;
  color: #fff;
  padding: 1rem;
  text-align: left;
  list-style: none;
  overflow: hidden;
  font-size: .875em;
  position: relative;
  background-color: #5d86b7; }
  .slicknav_nav .submenu {
    opacity: 1;
    text-align: left;
    position: static;
    background-color: #5d86b7; }
    .slicknav_nav .submenu a {
      padding: .5rem 2rem; }
  .slicknav_nav li {
    display: block;
    background-image: none; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
  .slicknav_nav .slicknav_item a {
    margin: 0;
    padding: 0;
    display: inline; }
  .slicknav_nav .slicknav_row {
    margin: 0;
    display: block;
    padding: 5px 10px; }
    .slicknav_nav .slicknav_row:hover {
      color: #f0aa13;
      background-color: #446894; }
      .slicknav_nav .slicknav_row:hover a {
        color: #f0aa13; }
  .slicknav_nav a {
    margin: 0;
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase; }
    .slicknav_nav a:hover {
      color: #f0aa13;
      background-color: #446894; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline;
    margin: 0;
    padding: 0; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }

@media screen and (max-width: 639px) {
  .slicknav_nav {
    top: 1.4rem; }
  .slicknav_btn {
    margin-top: 0; } }

@media screen and (max-width: 411px) {
  .slicknav_nav {
    top: 1.3rem; }
  .slicknav_btn {
    margin-top: -.5rem; } }

.slicknav_brand {
  color: #fff;
  float: left;
  height: 44px;
  font-size: 18px;
  padding: 7px 12px;
  line-height: 30px; }

/* ===== CORE ===== */
html, body {
  font-family: 'Ubuntu';
  background-color: #fff; }

.container {
  margin: 0 auto;
  max-width: 114rem; }

.btn {
  font-size: 1.6em;
  border-radius: 1rem; }

input[type="text"] {
  border-radius: 1rem;
  background-color: white;
  border: 1px solid #c7c7c7; }

.form-control {
  padding: 1rem;
  font-size: 1.6em;
  line-height: 1.7rem; }
  .form-control::-webkit-input-placeholder {
    color: #5b5a5a;
    opacity: 1;
    font-size: 1em; }
  .form-control:-moz-placeholder {
    color: #5b5a5a;
    opacity: 1;
    font-size: 1em; }
  .form-control::-moz-placeholder {
    color: #5b5a5a;
    opacity: 1;
    font-size: 1em; }
  .form-control:-ms-input-placeholder {
    color: #5b5a5a;
    opacity: 1;
    font-size: 1em; }

.title__2 {
  color: #0d50a0;
  font-size: 3.2em;
  font-weight: 500;
  margin-bottom: 3.5rem;
  text-transform: uppercase; }

/* ===== HEADER ===== */
header {
  padding: 2rem 0;
  text-align: center; }

.logo {
  float: left;
  width: 23rem;
  margin-left: 2rem; }

.phone {
  float: right;
  margin-right: 2rem; }

.location {
  text-align: left;
  display: inline-block; }
  .location span {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.1;
    padding-left: 1.5rem;
    padding-top: .5rem;
    text-transform: uppercase; }
  .location img {
    width: 3.3rem;
    vertical-align: top; }

.location__header span {
  width: 24.5rem;
  display: inline-block; }

.phone__header img {
  width: 4.8rem;
  vertical-align: top;
  margin-top: .6rem;
  margin-right: 1.5rem; }

.phone__header a {
  color: #000;
  display: block;
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase; }

.phone-order {
  display: inline-block; }

.btn__order {
  width: 16rem;
  height: 3.3rem;
  color: #f0aa13;
  margin-top: .5rem;
  border: 2px solid #f1ab14;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  .btn__order:hover {
    color: #fff;
    background-color: #f0ab14; }

/* ===== CONTENT ===== */
/* ----- NAV ----- */
nav {
  text-align: center;
  background-color: #5d86b7; }

.slicknav_menu {
  display: none; }

.menu {
  display: inline-block; }
  .menu > li {
    overflow: visible;
    position: relative;
    display: inline-block;
    text-transform: uppercase; }
  .menu a {
    color: #fff;
    display: block;
    font-size: 1.8em;
    font-weight: 300;
    padding: 1rem 3rem;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .menu a:hover {
      color: #f0aa13;
      background-color: #446894; }

.submenu {
  top: 130%;
  opacity: 0;
  z-index: -1;
  left: -99999;
  text-align: left;
  position: absolute;
  background-color: #5d86b7;
  -webkit-transition: opacity 600ms ease, top 300ms ease;
  transition: opacity 600ms ease, top 300ms ease; }
  .submenu a {
    display: block;
    white-space: nowrap;
    padding: 1rem 1.5rem; }

.has-submenu:hover .submenu {
  left: 0;
  top: 100%;
  z-index: 2;
  opacity: 1; }

/* ----- SECTION rent ----- */
.rent {
  position: relative; }

.rent-slider {
  margin-bottom: 0; }

.rent-slider_slide {
  height: 42rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.rent-slider_slide__1 {
  background-image: url("../img/bg/rent-bg1.png"); }

.rent-slider_slide__2 {
  background-image: url("../img/bg/rent-bg2.png"); }

.rent-slider_slide__3 {
  background-image: url("../img/bg/rent-bg3.png"); }

.rent-store {
  right: 0;
  top: 50%;
  opacity: .9;
  position: absolute;
  padding: 2.5rem 4rem;
  background-color: #135bb0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.title__1 {
  color: #fbfbfb;
  font-size: 3.8em;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }

.rent-store_item {
  color: #fbfbfb;
  *display: inline;
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 0 0%;
  width: 50%;
  *width: 49.94792%;
  font-size: 2.4em;
  font-weight: 500;
  padding: 1.5rem 0 .5rem 8rem;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain; }

.rent-store_item__1 {
  background-image: url("../img/icons/store.png"); }

.rent-store_item__2 {
  background-image: url("../img/icons/store-b.png"); }

/* ----- SECTION spec-offer ----- */
.spec-offer {
  padding: 4.5rem 0;
  background-color: #f0ab14; }

.rent-service {
  display: inline-block;
  padding: 2.5rem 0 1rem 13rem;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
  background-image: url("../img/icons/gift.png"); }
  .rent-service p {
    color: #0d50a0;
    font-size: 2.4em;
    font-weight: 500;
    text-transform: uppercase; }
  .rent-service span {
    color: #000;
    font-size: 1.8em;
    font-weight: 300;
    margin-top: .3rem;
    display: inline-block;
    text-transform: uppercase; }
    .rent-service span .hightlight {
      color: #0d50a0;
      font-weight: 700;
      font-style: normal; }

.form-order {
  width: 24rem;
  float: right;
  display: inline-block; }
  .form-order .form-group {
    margin-bottom: 1rem; }
  .form-order .form-control {
    width: 24rem; }

.btn__form-order {
  color: #fff;
  width: 100%;
  height: 3.8rem;
  font-weight: 700;
  border-color: #1b5caa;
  background-color: #1b5caa; }

/* ----- SECTION our-stores ----- */
.our-stores {
  padding-top: 4rem;
  padding-bottom: 6rem; }

.store-slider {
  margin-bottom: 0; }
  .store-slider img {
    display: inline-block; }

.slick-dots {
  bottom: -40px; }

.slick-dots li {
  margin: 0 4px; }

.slick-dots li.slick-active button {
  opacity: 1;
  background-color: #f0ab14; }

.slick-dots li button {
  opacity: 1;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #f0ab14; }

.store-desc {
  margin-left: 6rem;
  vertical-align: top;
  display: inline-block; }

.desc-list {
  padding-top: 1rem;
  margin-bottom: 1.8rem; }
  .desc-list li {
    color: #2a4361;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.8;
    padding-left: 1.8rem;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url("../img/icons/list-pic.png"); }

.btn__more {
  color: white;
  width: 22rem;
  height: 4.3rem;
  font-size: 1.6em;
  font-weight: 500;
  border-color: #f0ab14;
  background-color: #f0ab14; }

/* ----- SECTION calculate-cost ----- */
.calculate-cost {
  text-align: center;
  background-color: #0f8393;
  padding: 3.5rem 1.3rem 4rem; }
  .calculate-cost .title__2 {
    color: #f0ab14;
    font-size: 3.2em;
    font-weight: 500;
    margin-bottom: 1rem; }

.leave-order {
  color: black;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 3.5rem;
  display: inline-block; }

.form-calculate .form-group {
  margin-right: 3rem;
  display: inline-block; }

.form-calculate .form-control {
  width: 16.5rem;
  padding: .7rem 1rem; }

.btn__form-calculate {
  color: #fff;
  width: 16.5rem;
  height: 3.2rem;
  text-transform: none;
  border-color: #0d50a0;
  background-color: #0d50a0; }

/* ----- SECTION our-services ----- */
.our-services {
  padding: 3.5rem 0 4rem; }

.services {
  margin: 0 -1.5rem; }

.services-item {
  *display: inline;
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 0 0%;
  width: 25%;
  *width: 24.94792%;
  padding: 0 1.5rem;
  text-align: center; }
  .services-item img {
    width: 100%;
    margin-bottom: 1.5rem; }
  .services-item .inner-wrap {
    padding-bottom: 1.8rem;
    background-color: #eae9e6; }

.services-item_title {
  color: #0c3a71;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.services-item_txt {
  color: black;
  font-size: 1.4em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 5rem;
  padding: 0 .5rem 0 1rem; }

.btn__detail {
  color: #fff;
  width: 20rem;
  height: 3.5rem;
  border-color: #f0ab14;
  background-color: #f0ab14; }

/* ----- SECTION questions ----- */
.questions {
  text-align: center;
  padding: 3.5rem 0 4rem;
  background-color: #f07e14; }
  .questions .title__2, .questions span {
    color: #0d50a0;
    font-size: 3.6em;
    font-weight: 700;
    margin-bottom: .7rem; }
  .questions .call-us {
    color: #08274d;
    display: block;
    font-size: 2.4em;
    font-weight: 400; }

/* ----- SECTION map ----- */
.map {
  height: 33rem;
  position: relative;
  background-color: #000; }

.rental-depart {
  top: 0;
  left: 60%;
  z-index: 2;
  width: 20.5rem;
  position: absolute;
  padding: 2.5rem 1.2rem;
  background-color: rgba(255, 255, 255, 0.8); }
  .rental-depart .col-5 {
    *display: inline;
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 0 0%;
    width: 35%;
    *width: 34.94792%; }
  .rental-depart .col-7 {
    *display: inline;
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 0 0%;
    width: 65%;
    *width: 64.94792%; }

.title__4 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 1.5rem; }

.rental-depart_loc,
.rental-depart_tel,
.rental-depart_mail {
  font-size: 1.3em; }

.rental-depart_mail a {
  color: #00a3db;
  font-weight: 500;
  text-decoration: underline; }
  .rental-depart_mail a:hover {
    text-decoration: none; }

/* ----- SECTION why-we ----- */
.why-we {
  padding: 3.5rem 0 10rem; }
  .why-we .title__2 {
    margin-bottom: 4rem; }

.s-step1 {
  background-position: 0px 0px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-step2 {
  background-position: -72px -72px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-step3 {
  background-position: -144px -144px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-step4 {
  background-position: -216px -216px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.achievements_item {
  line-height: 1.2;
  float: left;
  *display: inline;
  position: relative;
  display: inline-block;
  padding: 0 0%;
  width: 25%;
  *width: 24.94792%;
  padding: 1.3rem 7rem 1.3rem 9rem; }
  .achievements_item span {
    color: black;
    font-size: 1.8em;
    font-weight: 300; }

/* ----- SECTION partners ----- */
.partners {
  padding: 3rem 0 7rem;
  background-color: #f1f1f2; }

.partners-slider {
  display: block;
  margin: 0 auto;
  padding: 0 6rem;
  max-width: 119rem; }

.partners-slider_slide {
  height: 14rem;
  line-height: 14rem;
  text-align: center; }
  .partners-slider_slide img {
    display: inline-block;
    vertical-align: middle; }

.slick-prev {
  left: 0;
  width: 1.6rem;
  height: 2.7rem; }

.slick-next {
  right: 0;
  width: 1.6rem;
  height: 2.7rem; }

.slick-next:before,
.slick-prev:before {
  content: '';
  opacity: .35;
  width: 1.6rem;
  height: 2.7rem;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.slick-next:hover:before,
.slick-prev:hover:before {
  opacity: 1; }

.slick-next:before {
  background-image: url("../img/icons/next.png"); }

.slick-prev:before {
  background-image: url("../img/icons/prev.png"); }

/* ----- SECTION txt-block ----- */
.txt-block {
  padding: 4.5rem 1.3rem 1rem; }
  .txt-block .title__2 {
    font-weight: 700;
    text-align: center; }
  .txt-block .title__3 {
    color: #0d50a0;
    font-weight: 400;
    font-size: 2.4em;
    margin-bottom: 3rem;
    text-transform: uppercase; }

.txt-block_info {
  font-size: 1.8em;
  margin-bottom: 2.5rem; }

.txt-block_list {
  display: block;
  font-size: 1.8em;
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
  list-style-type: disc; }
  .txt-block_list li {
    margin-bottom: .5rem; }

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 1.5rem 0 2.5rem;
  background-color: #f1f1f2; }

.location__footer {
  color: #1d426f;
  font-weight: 400;
  padding-top: 1.2rem; }
  .location__footer span {
    text-transform: none;
    display: inline-block; }

.phone__footer {
  padding-top: 1.2rem; }
  .phone__footer a {
    color: #1d426f;
    font-size: 1.8em;
    font-weight: 500;
    display: inline-block; }
    .phone__footer a:hover {
      text-decoration: underline; }

.toTop {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  position: relative;
  border-radius: 50%;
  background-color: #436894; }
  .toTop img {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* ===== MODALS ===== */
.modal {
  padding-right: 0 !important; }

.modal-open {
  padding-right: 0 !important; }

/* ===== MADIA QUERIES FOR RESPONSIVE DESIGN ===== */
/* ----- DESKTOP VERSION ----- */
@media screen and (max-width: 1239px) {
  /* ----- SECTION spec-offer ----- */
  .spec-offer {
    padding: 4.5rem 1.3rem; }
  /* ----- SECTION our-stores ----- */
  .our-stores {
    padding: 4rem 1.3rem 6rem; }
  /* ----- SECTION our-services ----- */
  .our-services {
    padding: 3.5rem 1.3rem 4rem; }
  .services {
    margin: 0 -.5rem; }
  .services-item {
    padding: 0 .5rem; }
  .services-item_txt {
    min-height: 10rem;
    margin-bottom: 4rem; }
  .services-item_title {
    font-size: 1.5em; }
  /* ----- SECTION why-we ----- */
  .why-we {
    padding: 3.5rem 1.3rem 10rem; }
  /* ----- SECTION partners ----- */
  .partners {
    padding: 3rem 1.3rem 7rem; } }

/* ----- TABLET VERSION ----- */
@media screen and (max-width: 1023px) {
  html {
    font-size: 50%; }
  /* ----- SECTION spec-offer ----- */
  .rent-service {
    padding: 2.5rem 0 1rem 10rem; }
    .rent-service p {
      font-size: 2.2em; }
  .store-slider img {
    width: 45.3rem; }
  .store-desc {
    margin-left: 2rem; }
  .desc-list li {
    font-size: 1.5em; }
  /* ----- SECTION our-services ----- */
  .services-item_title {
    font-size: 1.4em; }
  /* ----- SECTION why-we ----- */
  .achievements_item {
    float: left;
    *display: inline;
    position: relative;
    display: inline-block;
    padding: 0 0%;
    width: 25%;
    *width: 24.94792%;
    padding: 2.2rem 5rem 2.2rem 10rem; }
    .achievements_item span {
      color: black;
      font-size: 1.8em;
      font-weight: 300; }
  .partners-slider_slide {
    height: auto;
    padding: 0 2rem; } }

/* ----- MOBILE VERSION ----- */
@media screen and (max-width: 767px) {
  html {
    font-size: 62.5%; }
  /* ===== HEADER ===== */
  header {
    padding: 1.2rem 0;
    position: relative; }
  .logo {
    width: 15rem; }
  .location__header {
    display: none; }
  .phone__header {
    top: 50%;
    left: 50%;
    margin: 0;
    float: none;
    position: absolute;
    display: inline-block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .phone__header img {
      width: 3rem;
      margin-right: 1rem; }
    .phone__header a {
      font-size: 1.4em; }
  .btn__order {
    width: 13rem;
    height: 2.5rem;
    font-size: 1.2rem; }
  nav {
    display: none; }
  .js .slicknav_menu {
    display: block; }
  /* ----- SECTION rent ----- */
  .rent-slider_slide {
    height: 30rem; }
  .rent-store {
    top: 50%;
    left: 50%;
    width: 75%;
    right: auto;
    padding: 2rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .title__1 {
    font-size: 2.4em;
    margin-bottom: 1rem; }
  .rent-store_item {
    font-size: 1.4em;
    padding: 0 0 0 3rem; }
  /* ----- SECTION spec-offer ----- */
  .rent-service {
    display: block;
    margin-bottom: 2rem;
    padding: 3rem 0 1rem 14rem; }
    .rent-service p {
      font-size: 2.2em; }
    .rent-service span {
      font-size: 1.6em; }
  .form-order {
    float: none;
    display: block;
    margin: 0 auto; }
  /* ----- SECTION our-stores ----- */
  .our-stores {
    padding-top: 2rem;
    padding-bottom: 6rem; }
  .store-slider {
    margin-bottom: 0; }
    .store-slider img {
      width: 22rem;
      display: inline-block; }
  .store-desc {
    margin-left: 2rem; }
  .desc-list {
    padding: 0; }
    .desc-list li {
      font-size: 1.2em;
      line-height: 1.4;
      padding-left: 1.8rem; }
  /* ----- SECTION calculate-cost ----- */
  .calculate-cost .title__2 {
    font-size: 3em; }
  .form-calculate .form-group {
    margin-right: 0; }
    .form-calculate .form-group + .form-group {
      margin-left: 2rem; }
  .btn__form-calculate {
    display: block;
    margin: 2rem auto 0; }
  /* ----- SECTION our-services ----- */
  .services-item {
    *display: inline;
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 0 0%;
    width: 50%;
    *width: 49.94792%;
    padding: 0 1rem;
    margin-bottom: 2rem; }
  .services {
    margin: 0 -1rem; }
  /* ----- SECTION why-we ----- */
  .why-we {
    padding: 3.5rem 1.3rem 3rem; }
    .why-we .title__2 {
      margin-bottom: 2rem; }
  .achievements_item {
    min-height: 7rem;
    float: left;
    *display: inline;
    position: relative;
    display: inline-block;
    padding: 0 0%;
    width: 50%;
    *width: 49.94792%;
    margin-bottom: 2rem;
    padding: 1.3rem 7rem 1.3rem 9rem; }
  /* ===== FOOTER ===== */
  footer {
    padding: 1.5rem 0 1.5rem; }
  .location__footer {
    width: 50%;
    font-size: .8em;
    padding-top: .3rem;
    text-align: center; }
  .phone__footer {
    padding-top: .3rem; }
    .phone__footer a {
      font-size: 1.4em; } }

@media screen and (max-width: 639px) {
  /* ===== HEADER ===== */
  header {
    padding: 1.5rem 0; }
  .logo {
    width: 10rem; }
  .phone__header img {
    width: 2rem;
    margin-right: 0; }
  .phone__header a {
    font-size: 1.2em; }
  .btn__order {
    height: 2rem;
    width: 11rem;
    font-size: 1rem; }
  /* ----- SECTION rent ----- */
  .rent-slider_slide {
    height: 28rem; }
  .rent-store {
    width: 90%; }
  .title__1 {
    font-size: 2.2em; }
  /* ----- SECTION spec-offer ----- */
  .rent-service {
    padding: 3rem 0 1rem 13rem; }
    .rent-service p {
      font-size: 1.5em; }
    .rent-service span {
      font-size: 1.4em; }
  /* ----- SECTION our-stores ----- */
  .store-slider {
    margin-bottom: 0; }
    .store-slider img {
      width: 30rem;
      display: block;
      margin: 0 auto 2rem; }
  .store-desc {
    display: block;
    margin-left: 0;
    text-align: center; }
  .desc-list {
    text-align: left;
    display: inline-block; }
    .desc-list li {
      line-height: 1.6; }
  /* ----- SECTION calculate-cost ----- */
  .calculate-cost .title__2 {
    font-size: 2.4em; }
  .form-calculate {
    width: 24rem;
    margin: 0 auto; }
    .form-calculate .form-group {
      display: block;
      margin-right: 0; }
      .form-calculate .form-group + .form-group {
        margin-left: 0;
        margin-top: 1.5rem; }
    .form-calculate .form-control {
      width: 100%; }
  .btn__form-calculate {
    width: 100%;
    display: block;
    margin: 1.5rem auto 0; }
  /* ----- SECTION our-services ----- */
  .services-item {
    width: 30rem;
    display: block;
    margin: 0 auto 2rem; }
  .services-item_txt {
    height: auto;
    min-height: auto; }
  /* ----- SECTION questions ----- */
  .questions {
    padding: 3rem 0 3rem; }
    .questions .title__2, .questions span {
      font-size: 2.6em; }
    .questions .call-us {
      color: #08274d;
      display: block;
      font-size: 2.2em;
      font-weight: 400; }
  /* ----- SECTION map ----- */
  .rental-depart {
    right: 0;
    left: auto;
    padding: 1.5rem 1rem; }
  .title__4 {
    font-size: 1.6em;
    margin-bottom: 1rem; }
  .rental-depart_loc,
  .rental-depart_tel,
  .rental-depart_mail {
    font-size: 1.2em; }
  /* ----- SECTION why-we ----- */
  .achievements_item {
    min-height: 7rem;
    float: left;
    *display: inline;
    position: relative;
    display: inline-block;
    padding: 0 0%;
    width: 50%;
    *width: 49.94792%;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem 1rem 8rem; }
    .achievements_item span {
      font-size: 1.4em; }
  .partners-slider_slide {
    height: 10rem;
    padding: 0 1rem;
    line-height: 10rem; }
  /* ===== FOOTER ===== */
  .location__footer {
    width: 40%;
    font-size: .7em;
    padding-top: 0;
    text-align: center; }
  .phone__footer {
    padding-top: 1rem; }
    .phone__footer a {
      font-size: 1em; }
  /* ----- SECTION txt-block ----- */
  .txt-block .title__2 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem; }
  .txt-block .title__3 {
    font-size: 2em;
    margin-bottom: 2rem; }
  .txt-block_info {
    font-size: 1.6em;
    margin-bottom: 2rem; }
  .txt-block_list {
    font-size: 1.6em;
    margin-bottom: 2rem; } }

@media screen and (max-width: 411px) {
  .title__2 {
    font-size: 2em; }
  /* ===== HEADER ===== */
  .logo {
    width: 7.5rem; }
  .phone__header img {
    width: 1.8rem; }
  .phone__header a {
    font-size: 1em; }
  .btn__order {
    width: 9.5rem;
    font-size: .8rem; }
  /* ----- SECTION rent ----- */
  .rent-slider_slide {
    height: 25rem; }
  .rent-store {
    width: 95%; }
  .title__1 {
    font-size: 2em; }
  /* ----- SECTION spec-offer ----- */
  .rent-service {
    background-size: 25%;
    padding: 3rem 0 1rem 30%; }
    .rent-service p {
      font-size: 1.4em; }
    .rent-service span {
      font-size: 1.2em; }
  /* ----- SECTION calculate-cost ----- */
  .calculate-cost .title__2 {
    font-size: 2em; }
  /* ----- SECTION questions ----- */
  .questions {
    padding: 3rem 0 3rem; }
    .questions .title__2, .questions span {
      font-size: 2.2em; }
    .questions .call-us {
      font-size: 2em; }
  /* ----- SECTION why-we ----- */
  .achievements_item {
    float: left;
    *display: inline;
    position: relative;
    display: inline-block;
    padding: 0 0%;
    width: 100%;
    *width: 99.94792%;
    padding: 1.5rem 8rem 1rem 9rem; }
    .achievements_item span {
      font-size: 1.6em; }
  .partners-slider_slide {
    padding: 0;
    height: 14rem;
    line-height: 14rem; }
  /* ===== FOOTER ===== */
  footer {
    text-align: right; }
  .location__footer {
    width: 50%;
    margin-right: 2rem; }
    .location__footer span {
      padding-top: 0; }
  .phone__footer {
    display: none; } }
