@font-face{
	font-family:'ProximaNovaExtraCondensed';
	src:url('../fonts/proximanovaexcn-reg-webfont.eot');
	src:url('../fonts/proximanovaexcn-reg-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/proximanovaexcn-reg-webfont.woff') format('woff'), 
		url('../fonts/proximanovaexcn-reg-webfont.ttf') format('truetype'), 
		url('../fonts/proximanovaexcn-reg-webfont.svg#proxima_nova_excn_rgregular') format('svg');
	font-weight:normal;
	font-style:normal;}
	
@font-face{
	font-family:'ProximaNovaExtraCondensedIt';
	src:url('../fonts/proximanovaexcn-regit-webfont.eot');
	src:url('../fonts/proximanovaexcn-regit-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/proximanovaexcn-regit-webfont.woff') format('woff'), 
		url('../fonts/proximanovaexcn-regit-webfont.ttf') format('truetype'), 
		url('../fonts/proximanovaexcn-regit-webfont.svg#proxima_nova_extra_condenRgIt') format('svg');
	font-weight:normal;
	font-style:italic;}

@font-face {
	font-family: 'Conv_SEGUISB';
	src: url('../fonts/SEGUISB.eot');
	src: local('☺'), url('../fonts/SEGUISB.woff') format('woff'), url('../fonts/SEGUISB.ttf') format('truetype'), url('../fonts/SEGUISB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SEGOEUI';
	src: url('../fonts/SEGOEUI.eot');
	src: local('☺'), url('../fonts/SEGOEUI.woff') format('woff'), url('../fonts/SEGOEUI.ttf') format('truetype'), url('../fonts/SEGOEUI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SEGOEUII';
	src: url('../fonts/SEGOEUII.eot');
	src: local('☺'), url('../fonts/SEGOEUII.woff') format('woff'), url('../fonts/SEGOEUII.ttf') format('truetype'), url('../fonts/SEGOEUII.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SEGOEUISL';
	src: url('../fonts/SEGOEUISL.eot');
	src: local('☺'), url('../fonts/SEGOEUISL.woff') format('woff'), url('../fonts/SEGOEUISL.ttf') format('truetype'), url('../fonts/SEGOEUISL.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SEGOEUIL';
	src: url('../fonts/SEGOEUIL.eot');
	src: local('☺'), url('../fonts/SEGOEUIL.woff') format('woff'), url('../fonts/SEGOEUIL.ttf') format('truetype'), url('../fonts/SEGOEUIL.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SEGUISLI';
	src: url('../fonts/SEGUISLI.eot');
	src: local('☺'), url('../fonts/SEGUISLI.woff') format('woff'), url('../fonts/SEGUISLI.ttf') format('truetype'), url('../fonts/SEGUISLI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family:'ProximaNova';
	src:url('../fonts/proxima_nova_regular-webfont.eot');
	src:url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/proxima_nova_regular-webfont.woff') format('woff'), 
		url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'), 
		url('../fonts/proxima_nova_regular-webfont.svg#proxima_nova_regular-webfont') format('svg');
	font-weight:normal;
	font-style:normal;}

/* ===== PAGE structure ===== */

.structure .page-title {
    height: 420px;
}

@media only screen and (max-width: 768px) {

.structure .page-title {
    height: 300px;
}

.structure .title-wrap {
	padding: 0 15px 30px;
}

}
// .fixed .nav-categ {
//     position: fixed;
//     left: 0;
//     right: 100px;
//     top: 60px;
//     z-index: 997;
// }
// .nav-categ {
//     height: 60px;
//     background: #f4f4f4;
// }
// .nav-categ.fixed {
//     position:  fixed;
//     top:  60px;
//     z-index:  999;
//     width:  100%;
// }
// .nav-categ.fixed .container {
//     margin:  0px;
// }
// .nav-categ ul {
//     margin: 0 0 0 30px;
//     padding: 0;
//     list-style: none;
//     overflow: hidden;
// }
// .nav-categ ul li {
//     float: left;
//     margin-right: 30px;
// }
// .nav-categ ul li.current a {
//     border-bottom: 3px solid #b18f41;
// }
// .nav-categ ul li a {
//     padding: 26px 0 17px;
//     display: block;
//     color: #b18f41;
//     border-bottom: 3px solid transparent;
// }
// .person-info .desc, .person-info::after {
//     display: inline-block;
//     vertical-align: middle;
// }
// .nav-categ ul li a:hover {
//     border-bottom: 3px solid #b18f41;
// }
.structure .main {
    padding-top: 60px;
    padding-bottom: 10px;
}
.structure .content {
    margin-bottom: 0;
}

.structure .container {
  padding: 0;
}

.structure .main > .container {
    background-color: #fff;
}

.structure .mCSB_draggerRail {
	height: 2px!important;
}

.structure .title-wrap {
    padding: 0 110px 30px;
    margin-bottom: 45px;
    border-bottom: 1px solid #f4f4f4;
}

.structure .org-structure {
	background-color: #fff;
	min-height: 500px;
	margin: 0;
	padding: 35px 0 0;
}

.structure .org-scheme {
	min-height: 530px;
	padding: 0px 0px;
}

.structure .timeline-large  {
	width: 1090px;
	height: 510px;
	margin: 0 auto;
	position: relative;
	background: url('../img/img_a_tmp.jpg') no-repeat 50% 50% / cover;
}

.structure .org-structure .node{
	position: absolute;
  width: 193px;
  height: 85px;
	background-color: #f4f4f4;
	color: #000;
	text-align: center;
  font-size: 16px;
	line-height: 20px;
  font-style: italic;
  font-weight: normal;
	display: table;
	font-family: 'ProximaNovaExtraCondensed';
}

.structure .org-structure .node span{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.structure .org-structure .node span.post{

	color: #b18f41;
}
.structure .org-structure .node span a{

	color: #000;
}

.structure .org-structure .node span a:hover{

	text-decoration: none;
}
.structure .org-structure .node .open{
	display: table-cell;
    vertical-align: middle;
    color: #000;
	padding: 0px 20px;
}
.structure .org-structure .node .open:hover{
	background: #b18f41;
	text-decoration: none;
	color: #fff;
	
}
.structure .org-structure .popup{
	position: absolute;
	width: 577px;
	background: #000;
	border:2px solid #b18f41;
	padding: 61px 69px 16px 249px;
	text-align: left;
	display: none;
}
.structure .org-structure .popup .close{
	position: absolute;
	top: 13px;
	right: 12px;
	background: url('../img/icons/btn-close01.png') no-repeat;
	width: 17px;
	height: 17px;
}
.structure .org-structure .node-active{
	z-index: 10;
}
.structure .org-structure .node-active .popup{
	display: block;
}
.structure .org-structure .name{
	display: block;
	font-size: 30px;
	margin: 0 0 5px;
}
.structure .org-structure .post{
	display: block;
	font-size: 18px;
	color: #b18f41;
	margin: 0 0 32px;
}
.structure .org-structure p{
	margin: 0 0 38px;
	color: #898989;
	font-size: 16px;
	line-height: 20px;
}
.structure .org-structure .bulleted-list{
	list-style:none;
	margin:0;
	padding:0 0 0 9px;
}
.structure .org-structure .bulleted-list li{
	background: url('../img/bullet04.png') no-repeat 0 8px;
	padding: 0 0 10px 24px;
	color: #000;
	font-size: 18px;
	line-height: 20px;
}
.structure .org-structure .node1 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	top: 100%;
	left: 50%;
	margin-left: -288px;
}
.structure .org-structure .node2 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: 100%;
	top: -100px;
	margin: 0;
}
.structure .org-structure .node3 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: 100%;
	top: -100px;
	margin: 0;
}
.structure .org-structure .node4 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: -100px;
	top: -100px;
	margin: 0;
}
.structure .org-structure .node5 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	right: 100%;
	top: -100px;
	margin: 0;
}
.structure .org-structure .node6 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	right: 100%;
	top: -100px;
	margin: 0;
}
.structure .org-structure .node7 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: 100%;
	top: -200px;
	margin: 0;
}
.structure .org-structure .node8 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: 100%;
	top: -200px;
	margin: 0;
}
.structure .org-structure .node9 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: -100px;
	top: -200px;
	margin: 0;
}
.structure .org-structure .node10 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	right: 100%;
	top: -200px;
	margin: 0;
}
.structure .org-structure .node11 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	right: 100%;
	top: -200px;
	margin: 0;
}
.structure .org-structure .node12 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: 100%;
	bottom: 0;
	margin: 0;
}
.structure .org-structure .node13 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	left: 50px;
	bottom: 0;
	margin: 0;
}
.structure .org-structure .node14 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	right: 50px;
	bottom: 0;
	margin: 0;
}
.structure .org-structure .node15 .popup{
	background:#fbfbfb url('../img/bg-node1.jpg') no-repeat 0 0 / auto 100%;
	right: 100%;
	bottom: 0;
	margin: 0;
}

.structure .org-structure .node1{
	left: 340px;
  top: 6px;
  width: 408px;
  height: 70px;
	font-size: 28px;
	line-height: 28px;
}


.structure .org-structure .node2{
	left: 19px;
  top: 153px;
}

.structure .org-structure .node3{
	left: 233px;
  top: 153px;
}
.structure .org-structure .node4 {
    left: 447px;
    top: 153px;
}

.structure .org-structure .node5{
    left: 659px;
    top: 153px;
}

.structure .org-structure .node6{
    left: 875px;
    top: 153px;
}

.structure .org-structure .node7{
	left: 19px;
    top: 279px;
}

.structure .org-structure .node8{
	left: 233px;
    top: 279px;
}

.structure .org-structure .node9{
    left: 448px;
    top: 279px;
}

.structure .org-structure .node10{
    left: 659px;
    top: 279px;
}

.structure .org-structure .node11{
    left: 874px;
    top: 279px;
}

.structure .org-structure .node12{
    left: 125px;
    top: 405px;
}

.structure .org-structure .node13{
    left: 337px;
    top: 405px;
}

.structure .org-structure .node14{
    left: 550px;
    top: 405px;
}

.structure .org-structure .node15{
    left: 772px;
    top: 405px;
}

.b-social-like {
	width: 100%;
	height: 60px;
	padding: 0 80px;
	margin-bottom: 55px;
	line-height: 60px;
	text-align: right;
	background-color: #f4f2f2;
}

.b-social-wrap {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.structure .views {
	margin-right: 5px;
	display: inline-block;
}

.views .num {
	color: #b18f41;
	font-style: normal;
}

.social-nets {
	padding: 0;
	list-style: none;
	display: inline-block;
}

.social-nets_item {
	padding: 1px 10px;
	display: inline-block;
}

.social-nets_item a {
	display: inline-block;
	position: relative;
	top: -2px;
}

.social-nets_item + .social-nets_item {
	border-left: 1px solid #c3c2c2;
}

.structure .middle-news .text-wrap {
    position: absolute;
    left: 0;
    width: 100%;
    top: 32px;
    padding: 0 20px 0 32px;
}

.structure .middle-news .holder {
    height: 370px;
    position: relative;
    background: url('../img/img_a1.jpg') no-repeat 50% 50% / cover;
}

.structure .middle-news h2{
	font-size: 32px !important;
  line-height: 42px !important;
}

.structure .middle-news5 .holder {
  background: url('../img/img_a3.jpg') no-repeat 50% 50% / cover;
}

.structure .middle-news6 .holder {
  background: url('../img/img_a2.jpg') no-repeat 50% 50% / cover;
}

.structure .middle-news {
	width: 33.33%;
	padding: 0 20px 20px 0;
	float: left;
}

@media only screen and (max-width: 1190px) {

.structure .middle-news {
	width: 50%;
	float: left;
}

.structure .middle-news6 {
	width: 100%;
}

}

@media only screen and (max-width: 750px) {

.structure .middle-news {
	width: 100%;
}

.structure .title-wrap {
	padding: 0 10px 30px;
}

}

.structure .middle-news .holder{
	height: 404px;
	position: relative;
}
.structure .middle-news .holder:after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(0,0,0,0);
	transition:all 0.3s;

}
.structure .middle-news .holder:hover:after{
	background: rgba(0,0,0,0.5);
}

.structure .middle-news .holder:after{
	background: rgba(0,0,0,0.4);
}

.structure .middle-news p{
	margin: 0;
	font-size: 17px;
	font-family: 'Conv_SEGOEUISL';
	max-height: 69px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	color: #fff;
}
.structure .middle-news h2{
	font-size: 28px !important;
	text-align: left !important;
	overflow: hidden;
	position: relative;
	z-index: 2;
	color: #fff;
	line-height: 36px !important;
	margin: 0 0 11px !important;
}
.structure .middle-news h2 a{
	color: #fff;
}
.structure .middle-news .category{
	position: absolute;
	top: 32px;
	right: 30px;
	border:1px solid #fff;
	font-size: 12px;
	height: 30px;
	line-height: 26px;
	padding: 0 7px;
	color: #fff;
	z-index: 3;
	text-transform: uppercase;
	transition:all 0.3s !important;
}
.structure .category:hover{
	text-decoration: none;
	border:1px solid #b18f41 !important;
	color: #b18f41 !important;
}
.structure .middle-news .text-wrap {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 22px;
	padding: 0 20px 0 32px;
}

.structure .news-date {
	font-size: 14px;
	font-family: 'Conv_SEGUISB';
	color: #b18f41;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 3px;
	letter-spacing: 1px;
	margin: 5px 0 20px;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
}

.structure .three-cols{
	margin: 0 -20px 20px 0;
	overflow: hidden;
}

.structure .three-cols .middle-news p{
	max-height: 115px;
}

/* ===== PAGE person ===== */

.page__person .content {
	margin-bottom: 10px;
}

.page__person .go-back {
	height: 60px;
	padding: 0 10px;
	line-height: 60px;
	background-color: #dbdbdb;
}

.go-back_ref {
	width: 40px;
	height: 40px;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('../img/icons/arrow__back.png');
}

.go-back_txt {
	font-size: 12px;
	font-weight: 700;
	margin-left: 60px;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

.page__person .content {
	padding-top: 60px;
	padding-right: 110px;
	padding-bottom: 70px;
}

.character-info {
	float: left;
	width: 400px;
	padding-left: 105px;
	padding-bottom: 40px;
	border-bottom: 2px solid #f4f4f4;
}

.character-info_pic {
	width: 193px;
	height: 235px;
	margin-bottom: 55px;
}

.character-info_pic img {
	width: 100%;
}

.character-info_name {
	width: 170px;
	position: relative;
	margin-bottom: 30px;
}

.character-info_name:before {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -25px; left: 0;
	width: 87px;
	height: 2px;
	background-color: #b18f41;
}

.character-info_name p {
	font-size: 36px;
	font-style: italic;
	font-family:'ProximaNovaExtraCondensed';
	
}

.character-info_position p {
	font-size: 18px;
	padding-top: 20px;
	font-style: italic;
	font-family: 'ProximaNova';
}

.character-bio {
	float: left;
	padding-left: 45px;
	display: inline-block;
	width: calc(100% - 400px);
	font-family: 'ProximaNova';
}

.character-bio_born {
	font-style: italic;
	font-size: 18px;
}

.character-bio_title {
	font-size: 28px;
	margin: 42px 0 25px;
	font-family:'ProximaNovaExtraCondensed';
}

.character-bio__txt {
	font-size: 18px;
}

/* ===== PAGE management ===== */

.page__management .content {
	padding-top: 60px;
	margin-bottom: 90px;
	background-color: transparent;
}

.management-title {
	padding: 80px 112px;
	background-color: #fff;
}

.management-title p {
	color: #191919;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	font-family:'ProximaNovaExtraCondensed';
}

.management-list {
	margin: 20px -10px 0;
}

.management-item {
	width: 33.33%;
	padding: 0 10px;
	vertical-align: top;
	margin-bottom: 20px;
	display: inline-block;
}

.management-item_photo img {
	width: 100%;
}

.management-item_txt {
	min-height: 160px;
	background-color: #fff;
	padding: 30px 30px 20px;
}

.management-item_name {
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 10px;
	display: inline-block;
	font-family:'ProximaNovaExtraCondensed';
}

.management-item_position {
	margin: 0;
	font-size: 17px;
	font-weight: 300;
	font-family: 'ProximaNova';
}


@media only screen and (max-width:1024px) {

.page__person .content {
	padding-right: 20px;
}

.character-info {
	width: 300px;
	padding-left: 20px;
}

.character-bio {
	padding-left: 45px;
	width: calc(100% - 300px);
}

.management-title {
	padding: 50px 50px;
}

.management-item_name {
	font-size: 30px;
}

.management-item_position {
	font-size: 16px;
}

.management-item_txt {
	padding: 20px 15px 15px;
}

.page__management .content {
	margin-bottom: 40px;
}

}

@media only screen and (max-width:860px) {

.management-item_name {
	font-size: 26px;
}

}	

@media only screen and (max-width:768px) {

.page__person .content {
	padding-top: 20px;
}

.character-info {
	float: none;
	width: 100%;
	padding-left: 0;
}

.character-info_pic {
	width: 193px;
	height: 235px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.character-info_name {
	width: 100%;
	position: relative;
}

.character-info_name:before {
	position: absolute;
	bottom: -25px; left: 50%;
	transform: translateX(-50%);
}

.character-info_name p {
	text-align: center;
	
}

.character-info_position p {
	text-align: center;
}

.character-bio {
	float: none;
	display: block;
	width: 100%;
	padding: 20px 20px 0;
}


.character-bio_title {
	margin: 20px 0 15px;
}

.management-title {
	padding: 30px 30px;
}

.management-item {
	width: 50%;
}

.management-item_name {
	font-size: 30px;
}

.management-item_position {
	font-size: 16px;
}

.management-item_txt {
	padding: 20px 15px 15px;
}

.page__management .content {
	margin-bottom: 40px;
}

}

@media only screen and (max-width:570px) {

.management-item {
	width: 100%;
}

.management-item_name {
	font-size: 36px;
}

.management-item_position {
	font-size: 18px;
}

.page__management .content {
	margin-bottom: 0;
}

.management-title p {
	font-size: 28px;
}

}

@media only screen and (max-width:480px) {

.character-bio_born {
	font-size: 16px;
}

.character-bio_title {
	font-size: 26px;
}

.character-bio__txt {
	font-size: 16px;
}

.management-title {
	padding: 10px;
}

.management-title p {
	font-size: 24px;
}

}

@media only screen and (max-width:360px) {

.page__management h1 {
	font-size: 38px;
}

}