/* ===== NORMALIZE-SANITIZE ===== */
html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1.4;
  cursor: default;
  color: #222;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* ----- HELPER CLASSES ----- */
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

/* ----- BASIC STYLES ----- */
body {
  *zoom: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body:before, body:after {
  content: '';
  display: table; }

body:after {
  clear: both; }

p {
  margin: 0; }

h1, h2 {
  margin: 0;
  font-weight: 500;
  font-style: normal; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3rem; }

h3 {
  margin: 0;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500; }

h4 {
  margin: 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600; }

h5 {
  margin: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600; }

h6 {
  margin: 0;
  color: #777;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

nav a {
  color: #444;
  text-decoration: none;
  -webkit-transition: .25s ease;
  transition: .25s ease; }

a {
  background-color: transparent;
  text-decoration: none;
  outline: none; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figcaption,
article,
details,
section,
summary,
figure,
footer,
header,
hgroup,
aside,
main,
menu,
nav {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

iframe,
img,
svg,
video {
  vertical-align: middle; }

audio:not([controls]) {
  display: none;
  height: 0; }

figure {
  margin: 0 0 1rem; }

footer {
  clear: both; }

[hidden],
template {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*, ::before, ::after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ----- DECORATION TEXT ----- */
dl {
  margin-bottom: 1.6rem; }

dd {
  margin-left: 4rem; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

big {
  font-size: 125%; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  display: block;
  overflow: auto;
  margin: 1.6rem 0;
  padding: 1.6rem;
  word-break: break-all;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1em; }

/* ----- FORM ELEMENTS ----- */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

select {
  text-transform: none;
  background-color: #fff;
  border: .1rem solid #ccc; }

input {
  line-height: normal; }

input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button; }

button,
input[type="button"], input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: baseline;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .25s ease;
  transition: .25s ease; }

button:disabled,
input[type=submit]:disabled {
  opacity: .4;
  box-shadow: none;
  cursor: not-allowed; }

input[type="datetime-local"][disabled],
input[type="password"][disabled],
input[type="datetime"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="text"][disabled],
input[type="date"][disabled],
input[type="time"][disabled],
input[type="week"][disabled],
input[type="url"][disabled],
input[type="tel"][disabled],
textarea[disabled],
select[disabled] {
  color: #777;
  cursor: not-allowed;
  background-color: #efefef; }

input:not([type])[disabled] {
  color: #777;
  cursor: not-allowed;
  background-color: #efefef; }

input[readonly],
select[readonly],
textarea[readonly] {
  color: #777;
  border-color: #ccc;
  background-color: #efefef; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="datetime-local"],
input[type="password"],
input[type="datetime"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="month"],
input[type="color"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="week"],
input[type="url"],
input[type="tel"],
select {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  border: .1rem solid #ccc; }

input:not([type]) {
  display: inline-block;
  padding: 0.8rem;
  text-align: left;
  border-radius: 0;
  border: .1rem solid #ccc;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-appearance: none;
  color: #444; }

input[type="datetime-local"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #b3d4fc; }

input:not([type]):focus {
  border-color: #b3d4fc; }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: .1rem solid thin #444; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

input[type="checkbox"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="file"]:focus:invalid:focus {
  outline-color: #ff4136; }

fieldset {
  padding: 0.8rem 0;
  margin: 0;
  border: 0; }

legend {
  border: 0;
  padding: 0; }

label {
  line-height: 2; }

textarea {
  display: block;
  overflow: auto;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  resize: vertical;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: middle; }

optgroup {
  font-weight: bold; }

/* ----- TABLE ELEMENTS ----- */
table {
  border-collapse: collapse;
  margin-bottom: 1.6rem;
  border-spacing: 0; }

caption {
  padding: 0.8rem 0; }

td,
th {
  padding: 0;
  text-align: center;
  vertical-align: inherit;
  border: .1rem solid #ccc; }

/* ----- @MEDIA ----- */
/*
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
       Style adjustments for high resolution devices
}
 */
@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

@media print {
  *, *:before, *:after {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: transparent !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

*:focus::-moz-placeholder {
  color: transparent !important; }

*[autofocus]::-moz-placeholder:focus {
  color: graytext !important; }

*:focus:-moz-placeholder {
  color: transparent !important; }

*[autofocus]:-moz-placeholder:focus {
  color: graytext !important; }

*:focus::-webkit-input-placeholder {
  color: transparent !important; }

*[autofocus]::-webkit-input-placeholder {
  color: graytext !important; }

/* ===== GRID ===== */
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: '';
    display: table; }
  body:after {
    clear: both; }

/* ===== CORE ===== */
@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'rupster';
  src: url("../fonts/rupster.eot");
  src: url("../fonts/rupster.eot?#iefix") format("embedded-opentype"), url("../fonts/rupster.woff") format("woff"), url("../fonts/rupster.ttf") format("truetype"), url("../fonts/rupster.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Flori';
  src: url("../fonts/flori.eot");
  src: url("../fonts/flori.eot?#iefix") format("embedded-opentype"), url("../fonts/flori.woff") format("woff"), url("../fonts/flori.ttf") format("truetype"), url("../fonts/flori.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-family: 'Open Sans', sans-serif; }

.title {
  font-family: 'rupster';
  font-weight: 400;
  text-align: center; }
  .title.__h1 {
    font-size: 5.7em; }
  .title.__h2 {
    font-size: 3.6em;
    line-height: 1.6; }

.container {
  max-width: 124rem;
  margin: 0 auto; }

.wrapper-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.callback {
  width: 25.3rem;
  padding-left: 5.5rem;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: url("../img/icons/callback-bg.png"); }
  .callback_phone {
    display: block;
    margin-bottom: 1.3rem;
    font-family: 'Flori';
    font-size: 2.4em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff; }
  .callback_request {
    display: block;
    font-family: 'Flori';
    padding: 1rem 1.7rem;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    background-color: #84cb3f; }

/* ===== HEADER ===== */
header {
  min-height: 71.1rem;
  padding-top: 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/header-bg.png"); }

.wrapper-bg {
  position: relative; }
  .wrapper-bg.__first {
    min-height: 66rem;
    background-image: url("../img/bg/follow-scenario-bg.png"); }

.logo {
  float: left;
  margin-left: 10rem;
  z-index: 2; }

.callback {
  display: inline-block; }
  .callback.__header {
    float: right;
    margin-right: 5rem; }

.title.__h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  white-space: nowrap;
  font-size: 5.7em;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  text-shadow: 0.1rem 0.17rem 0.5rem rgba(0, 1, 1, 0.43); }

.title_subtitle {
  color: #fffb8c;
  font-size: .84em; }

/* PAGE .catalog */
.catalog header {
  min-height: 15.9rem;
  padding-top: .8rem;
  background-image: url("../img/bg/header-bg__catalog.png"); }

.catalog .wrapper-bg.__header {
  max-width: 117rem;
  min-height: 15rem;
  padding-top: 1.5rem;
  background-position: 4rem 50%;
  background-image: url("../img/bg/follow-scenario-bg__catalog.png"); }

.catalog .logo {
  width: 10.9rem;
  height: 6.8rem;
  margin-left: 5rem; }

.catalog .callback.__header {
  margin: 0; }

/* ===== CONTENT ===== */
/* SECTION .organize */
.organize .title.__h2 {
  margin-bottom: 11rem; }

.wrapper-bg.__second {
  padding-top: 5.5rem;
  min-height: 139.3rem;
  background-image: url("../img/bg/follow-scenario-bg2.png"); }

.we-suggest {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 3rem 0;
  text-align: center; }
  .we-suggest.__step2 {
    margin-top: 12rem; }
  .we-suggest_txt {
    font-family: 'Open Sans';
    font-size: 2.1em;
    font-weight: 400;
    line-height: 2.6rem;
    color: #000; }
    .we-suggest_txt + .we-suggest_txt {
      margin-top: 3rem; }
  .we-suggest_get {
    text-align: left;
    max-width: 90rem;
    margin: 1.5rem auto 0; }
  .we-suggest_claim {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    font-family: 'MyriadProRegular';
    font-size: 3em;
    line-height: 3.5rem;
    text-align: right;
    color: #000; }
  .we-suggest_number {
    position: absolute;
    top: 0;
    left: 1.5rem;
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 50%;
    color: #fff;
    font-family: 'MyriadPro';
    font-size: 4.1em;
    font-weight: 400; }
    .we-suggest_number.__one {
      background-color: #f6d645; }
    .we-suggest_number.__two {
      left: 3.5rem;
      background-color: #fe97c0; }

.btn.__download {
  position: relative;
  display: inline-block;
  width: 27.5rem;
  height: 13.5rem;
  margin-left: 4rem;
  vertical-align: middle;
  font-family: 'rupster';
  font-size: 3em;
  line-height: 11rem;
  text-align: center;
  text-shadow: 0.1rem 0.17rem 0.5rem rgba(0, 1, 1, 0.87);
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/btn__download-bg.png"); }
  .btn.__download sub {
    position: absolute;
    top: 58%;
    left: 58%; }

.btn.__choose {
  position: relative;
  display: inline-block;
  width: 28rem;
  height: 12.5rem;
  margin-left: 4rem;
  vertical-align: middle;
  font-family: 'rupster';
  font-size: 3em;
  line-height: 11rem;
  text-align: center;
  text-shadow: 0.1rem 0.17rem 0.5rem rgba(0, 1, 1, 0.87);
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/btn__choose-bg.png"); }
  .btn.__choose sub {
    position: absolute;
    top: 58%;
    left: 58%; }

/* SECTION .scenario */
.scenario {
  padding-top: 1rem;
  text-align: center; }
  .scenario_txt {
    font-family: 'Open Sans';
    font-size: 2.1em;
    font-weight: 400;
    color: #464646; }
  .scenario .container {
    max-width: 129rem; }

.wrapper-bg.__three {
  min-height: 60rem;
  padding-top: 4rem;
  background-position: 100% 0;
  background-size: auto;
  background-image: url("../img/bg/follow-scenario-bg3.png"); }

.title.__h3 {
  position: relative;
  display: inline-block;
  overflow: visible;
  font-size: 3em;
  font-weight: 400;
  line-height: 5.5rem;
  color: #02869e; }
  .title.__h3:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10.2rem;
    display: inline-block;
    width: 8.8rem;
    height: 7.8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/icons/crown.png");
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.scenario-list {
  max-width: 108rem;
  margin: 3rem auto 0; }

.scenario-item {
  float: left;
  *display: inline;
  position: relative;
  display: inline-block;
  padding-left: 0%;
  padding-right: 0%;
  width: 25%;
  *width: 24.94792%; }
  .scenario-item_link {
    display: inline-block; }
    .scenario-item_link:hover .scenario-item_overlay {
      opacity: 1; }
  .scenario-item_brand {
    position: relative;
    width: 20.1rem;
    height: 20.1rem;
    margin-bottom: 1.5rem;
    border: .8rem solid #29b6cf;
    border-radius: 50%; }
    .scenario-item_brand img {
      width: 100%; }
  .scenario-item_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    font-weight: 400;
    opacity: 0;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease; }
    .scenario-item_overlay span {
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .scenario-item_title {
    font-family: 'Open Sans';
    font-size: 1.8em;
    font-weight: 400;
    color: #000; }

.btn.__more-scenario {
  display: inline-block;
  width: 33.7rem;
  height: 9.1rem;
  padding: 2rem 7rem 2rem 2rem;
  margin-top: 6rem;
  margin-left: 3rem;
  font-family: 'rupster';
  font-size: 2.6em;
  font-weight: 400;
  color: #fff;
  line-height: 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/btn__more-scenario-bg.png"); }

/* SECTION .why-we */
.why-we {
  padding-top: 5.5rem;
  margin-bottom: 13rem; }
  .why-we .title.__h2 {
    margin-bottom: 5rem; }

.wrapper-bg.__four {
  max-width: 112rem;
  min-height: 67.6rem;
  margin: 0 auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/follow-scenario-bg4.png"); }

.toDo {
  *display: inline;
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding-left: 0%;
  padding-right: 0%;
  width: 50%;
  *width: 49.94792%; }
  .toDo_list {
    padding-left: 5rem; }
  .toDo_title {
    padding-left: 10.5rem;
    margin-bottom: 3rem;
    font-size: 1.6em;
    font-weight: 700;
    color: #010101;
    text-transform: uppercase; }
  .toDo_feast {
    padding-left: 10rem;
    padding-top: 3rem;
    margin-left: 5.5rem;
    margin-top: 3rem;
    font-family: 'rupster';
    font-size: 4.2em;
    font-weight: 400;
    color: #010101;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url("../img/icons/feast.png"); }
  .toDo.__need .toDo_item {
    font-weight: 400; }
  .toDo_item {
    position: relative;
    padding-left: 5.5rem;
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.3;
    color: #000; }
    .toDo_item + .toDo_item {
      margin-top: 5rem; }

.icon {
  position: absolute;
  top: 15%;
  left: 0; }

.icon-thoughts {
  display: inline-block;
  width: 43px;
  height: 32px;
  background-position: -241px -262px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-search {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -22px -31px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-love {
  display: inline-block;
  width: 30px;
  height: 29px;
  background-position: -108px -117px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-paint {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-position: -49px -58px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-watch {
  display: inline-block;
  width: 20px;
  height: 29px;
  background-position: 0px 0px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-touch {
  display: inline-block;
  width: 26px;
  height: 38px;
  background-position: -140px -148px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-download {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-position: -78px -87px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-print {
  display: inline-block;
  width: 34px;
  height: 32px;
  background-position: -168px -188px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.icon-cut {
  display: inline-block;
  width: 35px;
  height: 38px;
  background-position: -204px -222px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.feast-order {
  margin-top: 1rem; }
  .feast-order_claim {
    *display: inline;
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding-left: 0%;
    padding-right: 0%;
    width: 50%;
    *width: 49.94792%;
    text-align: right;
    font-family: 'MyriadPro';
    font-size: 3em;
    line-height: 1.2;
    color: #016b7e; }

.btn.__feast-request {
  display: inline-block;
  width: 32.8rem;
  height: 8.9rem;
  padding: 2rem;
  margin-left: 3rem;
  font-family: 'rupster';
  font-size: 2.6em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/btn__feast-request-bg.png"); }

/* SECTION .choose-us */
.choose-us {
  padding-bottom: 6.5rem; }
  .choose-us .title.__h2 {
    margin-bottom: 2.5rem; }

.advantages_brand {
  *display: inline;
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding-left: 0%;
  padding-right: 0%;
  width: 35%;
  *width: 34.94792%;
  text-align: right; }
  .advantages_brand img {
    width: 31.5rem;
    height: auto; }

.advantages_list {
  *display: inline;
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding-left: 0%;
  padding-right: 0%;
  width: 65%;
  *width: 64.94792%;
  padding-left: 5rem; }

.advantages_item {
  font-size: 2.1em;
  font-weight: 400;
  line-height: 1.2;
  color: #000; }
  .advantages_item .small {
    display: block;
    font-size: .66em;
    font-style: italic; }
  .advantages_item + .advantages_item {
    margin-top: 2.4rem; }

/* Page .catalog */
/* SECTION .scenario */
.catalog .scenario {
  padding-top: 4rem; }

.catalog .title.__h3 {
  color: #000; }
  .catalog .title.__h3:after {
    display: none; }

.catalog .scenario-list {
  margin-bottom: 12rem; }

.catalog .scenario-item {
  margin: 3.5rem 0; }

.catalog .btn.__more-scenario {
  margin: 0; }

/* ===== FOOTER ===== */
footer {
  min-height: 43.8rem;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/footer-bg.png"); }

.wrapper-bg.__five {
  min-height: 38.6rem;
  padding-top: 5rem;
  background-image: url("../img/bg/follow-scenario-bg5.png"); }

.questions {
  margin-bottom: 2rem;
  font-size: 2.6em;
  font-weight: 700;
  color: #fff; }

.address {
  margin-top: 2.2rem;
  margin-bottom: 2.5rem;
  font-size: 2.1em;
  font-weight: 400;
  color: #fff; }

.socials {
  display: inline-block;
  margin-left: 3.5rem; }
  .socials_item {
    display: inline-block;
    margin: 0 2.5rem; }
  .socials_link {
    position: relative;
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    border: 2px solid #fff;
    border-radius: 50%; }
    .socials_link img {
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }

/* ===== MODALS ===== */
.modal {
  padding-right: 0 !important; }

.modal-open {
  padding-right: 0 !important; }

/* ===== MADIA QUERIES FOR RESPONSIVE DESIGN ===== */
/* ----- DESKTOP VERSION ----- */
/* ----- TABLET VERSION ----- */
/* ----- MOBILE VERSION ----- */
