@charset "UTF-8";
/* ===== NORMALIZE-SANITIZE ===== */
html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1.4;
  cursor: default;
  color: #222;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* ----- HELPER CLASSES ----- */
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

/* ----- BASIC STYLES ----- */
body {
  *zoom: 1;
  margin: 0;
  padding: 0;
  width: 100%; }

body:before, body:after {
  content: '';
  display: table; }

body:after {
  clear: both; }

p {
  margin: 0; }

h1, h2 {
  margin: 0;
  font-weight: 500;
  font-style: normal; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3rem; }

h3 {
  margin: 0;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500; }

h4 {
  margin: 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600; }

h5 {
  margin: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600; }

h6 {
  margin: 0;
  color: #777;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

nav a {
  color: #444;
  text-decoration: none;
  -webkit-transition: .25s ease;
  transition: .25s ease; }

a {
  background-color: transparent;
  text-decoration: none;
  outline: none; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figcaption,
article,
details,
section,
summary,
figure,
footer,
header,
hgroup,
aside,
main,
menu,
nav {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

iframe,
img,
svg,
video {
  vertical-align: middle; }

audio:not([controls]) {
  display: none;
  height: 0; }

figure {
  margin: 0 0 1rem; }

footer {
  clear: both; }

[hidden],
template {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*, ::before, ::after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ----- DECORATION TEXT ----- */
dl {
  margin-bottom: 1.6rem; }

dd {
  margin-left: 4rem; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

big {
  font-size: 125%; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  display: block;
  overflow: auto;
  margin: 1.6rem 0;
  padding: 1.6rem;
  word-break: break-all;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1em; }

/* ----- FORM ELEMENTS ----- */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

select {
  text-transform: none;
  background-color: #fff;
  border: .1rem solid #ccc; }

input {
  line-height: normal; }

input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button; }

button,
input[type="button"], input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: baseline;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .25s ease;
  transition: .25s ease; }

button:disabled,
input[type=submit]:disabled {
  opacity: .4;
  box-shadow: none;
  cursor: not-allowed; }

input[type="datetime-local"][disabled],
input[type="password"][disabled],
input[type="datetime"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="text"][disabled],
input[type="date"][disabled],
input[type="time"][disabled],
input[type="week"][disabled],
input[type="url"][disabled],
input[type="tel"][disabled],
textarea[disabled],
select[disabled] {
  color: #777;
  cursor: not-allowed;
  background-color: #efefef; }

input:not([type])[disabled] {
  color: #777;
  cursor: not-allowed;
  background-color: #efefef; }

input[readonly],
select[readonly],
textarea[readonly] {
  color: #777;
  border-color: #ccc;
  background-color: #efefef; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="datetime-local"],
input[type="password"],
input[type="datetime"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="month"],
input[type="color"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="week"],
input[type="url"],
input[type="tel"],
select {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  border: .1rem solid #ccc; }

input:not([type]) {
  display: inline-block;
  padding: 0.8rem;
  text-align: left;
  border-radius: 0;
  border: .1rem solid #ccc;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-appearance: none;
  color: #444; }

input[type="datetime-local"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #b3d4fc; }

input:not([type]):focus {
  border-color: #b3d4fc; }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: .1rem solid thin #444; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

input[type="checkbox"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="file"]:focus:invalid:focus {
  outline-color: #ff4136; }

fieldset {
  padding: 0.8rem 0;
  margin: 0;
  border: 0; }

legend {
  border: 0;
  padding: 0; }

label {
  line-height: 2; }

textarea {
  display: block;
  overflow: auto;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  resize: vertical;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: middle; }

optgroup {
  font-weight: bold; }

/* ----- TABLE ELEMENTS ----- */
table {
  border-collapse: collapse;
  margin-bottom: 1.6rem;
  border-spacing: 0; }

caption {
  padding: 0.8rem 0; }

td,
th {
  padding: 0;
  text-align: center;
  vertical-align: inherit;
  border: .1rem solid #ccc; }

/* ----- @MEDIA ----- */
/*
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
       Style adjustments for high resolution devices
}
 */
@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

@media print {
  *, *:before, *:after {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: transparent !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

*:focus::-moz-placeholder {
  color: transparent !important; }

*[autofocus]::-moz-placeholder:focus {
  color: graytext !important; }

*:focus:-moz-placeholder {
  color: transparent !important; }

*[autofocus]:-moz-placeholder:focus {
  color: graytext !important; }

*:focus::-webkit-input-placeholder {
  color: transparent !important; }

*[autofocus]::-webkit-input-placeholder {
  color: graytext !important; }

/* ===== GRID ===== */
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: '';
    display: table; }
  body:after {
    clear: both; }

/*
  Для генерации всего спрайта запустить в корне
  @include sprites($spritesheet-sprites);
*/
/* ===== MOBILE MENU ===== */
.slicknav_menu {
  *zoom: 1;
  z-index: 5;
  width: 100%;
  font-size: 16px;
  position: fixed;
  right: 0;
  top: 0;
  box-sizing: border-box;
  background: transparent; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    float: left;
    color: #fff;
    display: block;
    font-weight: bold;
    margin-right: .5em;
    line-height: 1.188em;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon {
    margin: .2em 0; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    width: 1.3em;
    height: .13em;
    display: block;
    border-radius: 1px;
    background-color: #000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    clear: both;
    content: " ";
    display: table; }

.slicknav_btn {
  top: 1.2rem;
  right: .7rem;
  float: right;
  display: block;
  cursor: pointer;
  position: relative;
  padding: .4em .5em;
  border-radius: 4px;
  margin: 5px 5px 6px;
  text-decoration: none;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.2em; }

.slicknav_nav {
  margin: 0;
  top: 2.4rem;
  clear: both;
  width: 100%;
  padding: .5rem 0;
  list-style: none;
  overflow: hidden;
  font-size: .875em;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8); }
  .slicknav_nav ul {
    padding: 0;
    border: none;
    display: block;
    overflow: hidden;
    margin-left: 1em;
    border-radius: 0;
    font-size: inherit;
    line-height: normal; }
  .slicknav_nav li {
    display: block;
    text-align: left;
    background-image: none; }
  .slicknav_nav .slicknav_arrow {
    font-size: .8em;
    margin-left: .4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
  .slicknav_nav .slicknav_item a {
    margin: 0;
    padding: 0;
    display: inline; }
  .slicknav_nav .slicknav_row {
    display: block;
    margin: 2px 5px;
    padding: 5px 10px; }
    .slicknav_nav .slicknav_row:hover {
      color: #fff;
      border-radius: 6px; }
  .slicknav_nav a {
    color: #000;
    display: block;
    margin: 2px 5px;
    padding: 5px 10px;
    text-decoration: none; }
    .slicknav_nav a:hover {
      color: #ff5900;
      border-radius: 6px;
      text-decoration: none;
      background-color: #fff; }
  .slicknav_nav .slicknav_parent-link a {
    margin: 0;
    padding: 0;
    display: inline; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }

.slicknav_brand {
  color: #fff;
  float: left;
  height: 44px;
  font-size: 18px;
  padding: 7px 12px;
  line-height: 30px; }

/* ===== CORE ===== */
html, body {
  font-weight: 400;
  font-family: 'Roboto'; }

body {
  position: relative; }

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 98rem; }

.btn {
  color: white;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #ff5900;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%); }
  .btn:hover {
    background-color: #ff7226; }

.hightlight {
  color: #ff5900;
  text-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.5); }

.title {
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.title__one {
  font-size: 4.5em;
  text-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.5); }

.title__two {
  color: #000;
  font-size: 4.6em; }

.title__three {
  color: #000;
  font-size: 4em; }

input.form-control,
textarea.form-control {
  width: 100%;
  font-size: 1.6em;
  text-align: center;
  border: 3px solid #ededed; }
  input.form-control::-webkit-input-placeholder,
  textarea.form-control::-webkit-input-placeholder {
    color: #656565;
    opacity: 1; }
  input.form-control:-moz-placeholder,
  textarea.form-control:-moz-placeholder {
    color: #656565;
    opacity: 1; }
  input.form-control::-moz-placeholder,
  textarea.form-control::-moz-placeholder {
    color: #656565;
    opacity: 1; }
  input.form-control:-ms-input-placeholder,
  textarea.form-control:-ms-input-placeholder {
    color: #656565;
    opacity: 1; }
  input.form-control:focus,
  textarea.form-control:focus {
    border-color: #ededed; }

/* ===== HEADER ===== */
header {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5); }

.navbar {
  height: 12.5rem;
  position: relative; }

.navbar-brand {
  top: 50%;
  z-index: 6;
  float: left;
  position: relative;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.logo {
  width: 12.4rem;
  display: inline-block; }
  .logo img {
    width: 100%; }

.navbar-contacts {
  top: 50%;
  z-index: 2;
  float: right;
  text-align: right;
  position: relative;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }
  .navbar-contacts p {
    font-size: 1.2em; }

.navbar-contacts_tel {
  line-height: 1;
  font-size: 2.4em;
  font-weight: 700; }
  .navbar-contacts_tel a {
    color: #000; }

.navbar-contacts_mail {
  line-height: 1;
  font-size: 1.5em;
  font-weight: 400; }
  .navbar-contacts_mail a {
    color: #000; }

.btn__callback {
  width: 15.5rem;
  height: 3rem;
  font-size: 1.5em;
  margin-top: 1rem;
  line-height: 2.6rem;
  border: 1px solid #fcf9f8;
  box-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.2); }

.navbar-nav {
  top: 50%;
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.slicknav_menu {
  display: none; }

.menu li {
  padding: 0 .8rem;
  text-align: center;
  display: inline-block; }
  .menu li.active a {
    color: #ff5900;
    font-weight: 700; }

.menu .advantages {
  width: 12.7rem; }

.menu .ubs {
  width: 5rem; }

.menu .order {
  width: 8.4rem; }

.menu .digits {
  width: 7rem; }

.menu .about {
  width: 5.8rem; }

.menu .problems {
  width: 9.5rem; }

.menu .contacts {
  width: 8.8rem; }

.menu a {
  color: #000;
  font-size: 1.5em;
  display: inline-block;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease; }
  .menu a:hover {
    color: #ff5900;
    font-weight: 700; }

/* ===== CONTENT ===== */
/* ----- SECTION offer-block ----- */
.offer-block {
  min-height: 72rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 16.5rem;
  background-image: url("../img/bg/offer-block-bg.png"); }

.offer-title {
  text-align: center;
  margin-bottom: 2.5rem; }

.offer-title_small {
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase; }

.offer-board {
  padding-left: 3rem; }

.offer-board_ubs {
  width: 36.1rem;
  height: 32.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
  display: inline-block;
  background-image: url("../img/bg/offer-board_ubs-bg.png"); }

.offer-board_describe {
  vertical-align: top;
  margin-left: 4rem;
  padding-top: 3rem;
  display: inline-block; }

.offer-board_get-item {
  width: 52rem;
  height: 18rem;
  position: relative;
  padding: 3rem 2rem; }
  .offer-board_get-item:before, .offer-board_get-item:after {
    content: '';
    width: 52.3rem;
    height: 18.3rem;
    position: absolute;
    display: inline-block; }
  .offer-board_get-item:before {
    left: 0;
    top: 0;
    z-index: 2;
    border: 3px solid #fff; }
  .offer-board_get-item:after {
    left: .3rem;
    top: .5rem;
    border: 3px solid rgba(0, 0, 0, 0.5); }
  .offer-board_get-item span {
    font-size: 2.6em;
    font-weight: 700;
    padding: 0 .5rem;
    line-height: 1.21;
    background-color: rgba(0, 0, 0, 0.5); }
  .offer-board_get-item span:first-child {
    color: #fff; }

.btn__get {
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 32.6rem;
  height: 6.6rem;
  font-size: 2.6em;
  position: absolute;
  line-height: 5.6rem;
  border: 3px solid #fff;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  box-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.5); }

.flashlight {
  top: 0;
  left: 2rem;
  z-index: 2;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  transform: translateY(-35%);
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
  background-image: url("../img/icons/flashlight.png"); }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ----- SECTION advantages-block ----- */
.advantages-block {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 4.5rem;
  min-height: 63.7rem;
  background-image: url("../img/bg/advantages-block-bg.png"); }

.advantages-items {
  margin-top: 3.5rem;
  text-align: center; }

.advantages-item {
  opacity: 0;
  width: 24rem;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 3.5rem; }

.advantages-item.animated {
  opacity: 1; }

.advantages-item1 {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms; }

.advantages-item2 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms; }

.advantages-item3 {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms; }

.advantages-item4 {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms; }

.advantages-item5 {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms; }

.advantages-item6 {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms; }

.advantages-item7 {
  -webkit-animation-delay: 2300ms;
  animation-delay: 2300ms; }

.advantages-item_brand {
  margin-bottom: .5rem; }

.s-rus-product {
  display: inline-block;
  width: 114px;
  height: 109px;
  background-position: -100px -111px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-parallel-connect {
  display: inline-block;
  width: 122px;
  height: 109px;
  background-position: -461px -444px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-system-control {
  display: inline-block;
  width: 98px;
  height: 109px;
  background-position: 0px 0px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-voltage-in {
  display: inline-block;
  width: 122px;
  height: 109px;
  background-position: -585px -555px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-friquency-in {
  display: inline-block;
  width: 122px;
  height: 109px;
  background-position: -337px -333px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-garanty {
  display: inline-block;
  width: 129px;
  height: 109px;
  background-position: -709px -666px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.s-assambly-job {
  display: inline-block;
  width: 119px;
  height: 109px;
  background-position: -216px -222px;
  background-image: url(../img/sprite/sprite.png);
  background-repeat: no-repeat; }

.advantages-item_caption {
  line-height: 1.3;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase; }

/* ----- SECTION ubs-block ----- */
.ubs-block {
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 15.5rem; }

.ubs-items {
  margin: 0 -.7rem; }

.ubs-items_title {
  font-size: 2.6em;
  margin-top: 1rem;
  text-align: center; }

.ubs-items_note {
  display: block;
  font-size: 1.6em;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3.5rem; }

.ubs-figure-wrap {
  width: 32.4rem;
  padding: 0 .7rem;
  vertical-align: top;
  margin-bottom: 4rem;
  display: inline-block; }

.ubs-figure {
  text-align: center;
  border: 3px solid #ededed; }

.ubs-figure_brand {
  width: 30.2rem;
  display: inline-block; }
  .ubs-figure_brand img {
    width: 100%; }

.ubs-figure_title {
  color: #ff5900;
  font-size: 2.6em;
  font-weight: 700;
  text-transform: uppercase; }

.uds-figure_power {
  font-size: 1.6em;
  margin-bottom: 1rem; }

.ubs-figure_list {
  text-align: left;
  font-size: 1.6em;
  font-weight: 400;
  padding-left: 3rem;
  margin-bottom: 1rem;
  line-height: 2.4rem; }
  .ubs-figure_list li {
    position: relative; }
    .ubs-figure_list li:before {
      content: '';
      top: 1.2rem;
      left: -.7rem;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      position: absolute;
      background-color: #000; }

.ubs-figure_btn-wrap {
  padding: 2.5rem 0;
  background-color: #fafafa; }

.btn__more {
  width: 20rem;
  height: 5.9rem;
  font-size: 1.8em;
  line-height: 5.3rem;
  border: 1px solid #fcf9f8;
  box-shadow: 0.1rem 0.17rem 0 rgba(0, 0, 0, 0.15); }

/* ----- SECTION order-block ----- */
.order-block {
  min-height: 72rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 3.5rem;
  background-image: url("../img/bg/order-block-bg.png"); }

.title__two.white {
  color: #fff;
  text-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.5); }

.order-consult {
  text-align: right;
  margin-top: 1.2rem;
  min-height: 54.4rem;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 11rem 0;
  background-image: url("../img/bg/order-consult-bg.png"); }

.order-consult_form {
  width: 48.5rem;
  position: relative;
  margin-top: 8.5rem;
  display: inline-block; }
  .order-consult_form:after {
    content: '';
    left: 50%;
    top: -4.5rem;
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("../img/icons/flashlight__reverse.png"); }

.order-consult_title {
  color: white;
  font-size: 2.6em;
  text-align: center;
  margin-bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.5); }

.form-order {
  width: 32.6rem;
  display: block;
  padding: 0 1rem;
  margin: 0 auto; }
  .form-order .form-control {
    height: 6rem;
    margin-bottom: 1.5rem;
    background-color: white; }

.btn__order {
  width: 100%;
  height: 6rem;
  font-size: 2.6em;
  line-height: 4.6rem;
  border: 3px solid #fff;
  text-transform: capitalize;
  box-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.5); }

/* ----- SECTION digits-block ----- */
.digits-block {
  overflow: hidden;
  padding: 1.5rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 25.2rem;
  background-image: url("../img/bg/digits-block-bg.png"); }

.digits-items {
  padding: 0 .7rem;
  margin: 0 -1.1rem; }

.digits-figure-wrap {
  opacity: 0;
  padding: 0 1.1rem;
  vertical-align: top;
  display: inline-block; }

.digits-figure-wrap.animated {
  opacity: 1; }

.digits-figure-wrap1 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms; }

.digits-figure-wrap2 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms; }

.digits-figure-wrap3 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms; }

.digits-figure-wrap4 {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms; }

.digits-figure {
  width: 22rem;
  height: 22rem;
  text-align: center;
  border: 3px solid white; }

.digits-figure_numeric {
  color: #ededed;
  line-height: 1;
  font-weight: 700;
  font-size: 7.6em;
  margin: 3rem 0 1rem;
  display: inline-block; }
  .digits-figure_numeric .small {
    font-size: 2.6rem; }

.digits-figure_progress {
  color: #ededed;
  font-size: 1.6em;
  line-height: 1.1; }

/* ----- SECTION problems-block ----- */
.problems-block {
  padding-top: 4.5rem; }

.problems-kind {
  color: #000;
  font-size: 2.6em;
  line-height: 1.1;
  text-align: center; }

.problems-items {
  margin-top: 5.5rem; }

.problems-figure {
  height: 30rem;
  *display: inline;
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 0 0%;
  width: 50%;
  *width: 49.94792%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.problems-figure__delivery {
  background-position: 100% 50%;
  background-image: url("../img/bg/problems-figure__delivery-bg.png"); }

.problems-figure__price {
  left: 50%;
  background-position: 0 50%;
  background-image: url("../img/bg/problems-figure__price-bg.png"); }

.problems-figure_hand {
  bottom: 0;
  right: 4.5rem;
  width: 14.6rem;
  height: 24.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  background-image: url("../img/bg/problems-figure_hand-bg.png"); }

.problems-figure_calc {
  left: 0;
  bottom: 0;
  width: 37.1rem;
  height: 19.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  background-image: url("../img/bg/problems-figure_calc-bg.png"); }

.problems-figure__price-txt {
  right: 50%; }

.problems-figure_claim {
  width: 37rem;
  text-align: center;
  display: inline-block; }

.problems-figure_smile {
  width: 4.5rem;
  height: 4.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  background-image: url("../img/icons/smile.png"); }

.problems-figure_txt {
  color: #ff5900;
  font-size: 4em;
  font-weight: 700;
  line-height: 4rem; }

.problems-figure_claim {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.problems-figure__delivery-txt .problems-figure_claim {
  left: 5.5rem; }

.problems-figure__price-txt .problems-figure_claim {
  right: 5.5rem; }

/* ----- SECTION about-block ----- */
.about-block {
  background-color: #fff; }

.about-video {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 6rem;
  min-height: 51.8rem;
  background-image: url("../img/bg/about-video-bg.png"); }

.videoo {
  width: 64rem;
  height: 34rem;
  margin: 2rem auto 1rem;
  border: 12px solid #a13b05;
  box-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.15); }

.about-txt {
  width: 82rem;
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 2.5rem;
  padding: 5rem 1.5rem; }

/* ----- SECTION contacts-block ----- */
.contacts-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  min-height: 65.4rem;
  padding-top: 4.5rem;
  background-image: url("../img/bg/contacts-block-bg.png"); }

.contacts-adress {
  font-weight: 700;
  font-size: 1.6em;
  margin-top: 1.5rem;
  display: inline-block; }

.contacts-requisites {
  display: block;
  font-weight: 700;
  font-size: 1.6em; }

.contacts-connection {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: inline-block; }
  .contacts-connection li {
    padding: 0 1.5rem;
    position: relative;
    display: inline-block; }
    .contacts-connection li + li:before {
      top: 50%;
      left: -1px;
      content: '';
      width: 1px;
      height: 2rem;
      position: absolute;
      border-left: 3px solid #000;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .contacts-connection li a {
      color: #000;
      font-size: 2.6em;
      font-weight: 700; }
      .contacts-connection li a:hover {
        text-decoration: underline; }

.form-send-message {
  width: 65rem;
  display: block;
  margin: 0 auto;
  padding: 0 1rem; }
  .form-send-message .form-group {
    margin-bottom: 1.8rem; }
  .form-send-message input.form-control {
    height: 6rem; }
  .form-send-message textarea {
    min-height: 13.5rem; }

.form-group-wrap .form-group {
  width: 30.6rem; }
  .form-group-wrap .form-group:first-child {
    float: left; }
  .form-group-wrap .form-group:last-child {
    float: right; }

.btn__submit {
  width: 30.6rem;
  height: 6rem;
  font-size: 2.6em;
  line-height: 4.6rem;
  border: 3px solid #fff;
  text-transform: capitalize;
  box-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.15); }

/* ----- SECTION map ----- */
.map {
  height: 65.5rem;
  background-color: #ccc; }

/* ----- SECTION modals ----- */
.modal {
  display: none;
  width: 82rem;
  position: relative;
  text-align: center; }

.modal-close {
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icons/modal-close.png"); }

.modal-body {
  padding: 9rem 9.4rem 9rem; }

.modal__get-offer {
  height: 65.9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/modal__get-offer-bg.png"); }

.modal-title {
  color: #000;
  font-size: 4.6em;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.modal-note {
  font-size: 2.6em;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.5rem; }

.modal-form__get-offer .form-control {
  margin-bottom: 2rem; }

.modal-form__get-offer input.form-control {
  height: 6rem; }

.modal-form__get-offer textarea.form-control {
  height: 14rem; }

.btn__modal-get-offer {
  width: 32.6rem;
  height: 6.6rem;
  font-size: 2.6em;
  text-transform: none;
  border: 3px solid #fff;
  box-shadow: 0.34rem 0.49rem 0 rgba(0, 0, 0, 0.15); }

.modal__thanks {
  height: 35.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/bg/modal__thanks-bg.png"); }

.modal-body__thanks {
  padding: 11.8rem 8rem 9rem; }

/* ===== FOOTER ===== */
footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  min-height: 25.2rem;
  padding-top: 7.5rem;
  background-image: url("../img/bg/footer-bg.png"); }
  footer span {
    color: #fff;
    display: block;
    font-size: 1.6em;
    line-height: 1.1; }

.copyright {
  margin-bottom: 1rem; }

/* ===== MADIA QUERIES FOR RESPONSIVE DESIGN ===== */
/* ----- DESKTOP VERSION ----- */
@media screen and (max-width: 1280px) {
  html {
    font-size: 55%; }
  .order-consult {
    background-size: contain; }
  .digits-block {
    padding: 2rem 0; }
  .digits-figure {
    width: 21rem;
    height: 21rem; } }

/* ----- TABLET VERSION ----- */
@media screen and (max-width: 1023px) {
  html {
    font-size: 50%; }
  .logo {
    display: inline-block; } }

/* ----- MOBILE VERSION ----- */
@media screen and (max-width: 799px) {
  html {
    font-size: 62.5%; }
  /* ===== CORE ===== */
  .title__one {
    font-size: 2.6em; }
  .title__two {
    font-size: 2.6em; }
  .title__three {
    font-size: 2em; }
  input.form-control,
  textarea.form-control {
    width: 100%;
    font-size: 1.6em;
    text-align: center;
    border: 3px solid #ededed; }
  /* ===== HEADER ===== */
  .navbar {
    height: 6rem; }
  .logo {
    width: 6rem; }
  .navbar-contacts {
    float: none;
    display: block;
    margin-right: 5rem;
    text-align: center; }
  .navbar-contacts_tel {
    font-size: 2em; }
  .navbar-contacts_mail {
    font-size: 1.2em; }
  .btn__callback {
    display: none; }
  .js .navbar-nav {
    display: none; }
  .js .slicknav_menu {
    display: inline-block; }
  /* ----- SECTION offer-block ----- */
  .offer-block {
    min-height: 37rem;
    padding-top: 7rem; }
  .offer-title {
    margin-bottom: 1rem; }
  .offer-title_small {
    font-size: 2.4em; }
  .offer-board {
    padding-left: 0;
    text-align: center; }
  .offer-board_ubs {
    display: none; }
  .offer-board_describe {
    margin-left: 0;
    padding-top: 0;
    display: inline-block; }
  .offer-board_get-item {
    width: 40rem;
    height: 12rem;
    text-align: left;
    padding: 3rem 1.5rem; }
    .offer-board_get-item:before, .offer-board_get-item:after {
      width: 40.3rem;
      height: 12.3rem; }
    .offer-board_get-item span {
      font-size: 2em; }
  .btn__get {
    width: 25rem;
    height: 5rem;
    font-size: 2em;
    line-height: 4rem;
    position: absolute; }
  /* ----- SECTION advantages-block ----- */
  .advantages-block {
    padding-top: 2rem;
    min-height: 40rem; }
  .advantages-items {
    margin-top: 2rem; }
  .advantages-item {
    margin-bottom: 2rem; }
  .advantages-item_caption {
    font-size: 1.2em; }
  /* ----- SECTION ubs-block ----- */
  .ubs-block {
    padding-top: 2rem;
    padding-bottom: 4rem; }
  .ubs-items {
    margin: 0 -.7rem;
    text-align: center; }
  .ubs-items_title {
    font-size: 2em; }
  .ubs-items_note {
    font-size: 1.2em;
    margin-bottom: 2rem; }
  .ubs-figure-wrap {
    width: 29rem;
    margin-bottom: 3rem; }
  .ubs-figure_brand {
    width: 27rem; }
  .ubs-figure_title {
    font-size: 2.2em; }
  .uds-figure_power {
    font-size: 1.4em; }
  .ubs-figure_list {
    font-size: 1.4em;
    line-height: 2rem; }
    .ubs-figure_list li:before {
      top: 1rem;
      width: .3rem;
      height: .3rem; }
  .ubs-figure_btn-wrap {
    padding: 1.5rem 0; }
  .btn__more {
    width: 15rem;
    height: 4rem;
    font-size: 1.6em;
    line-height: 3.5rem; }
  /* ----- SECTION order-block ----- */
  .order-block {
    min-height: 45rem;
    padding-top: 2rem; }
  .order-consult {
    margin-top: 0;
    min-height: auto;
    text-align: center;
    background-image: none; }
  .order-consult_form {
    width: 48.5rem;
    margin-top: 5rem; }
  .order-consult_title {
    font-size: 2em;
    margin-bottom: 3rem; }
  .form-order {
    width: 32.6rem; }
    .form-order .form-control {
      height: 4.5rem;
      margin-bottom: 1.5rem; }
  .btn__order {
    height: 4.5rem;
    font-size: 2.2em;
    line-height: 2.2rem; }
  /* ----- SECTION digits-block ----- */
  .digits-block {
    text-align: center;
    padding-bottom: .5rem; }
  .digits-items {
    width: 50rem;
    margin: 0 auto; }
  .digits-figure-wrap {
    margin-bottom: 1.5rem; }
  .digits-figure {
    width: 18rem;
    height: 18rem; }
  .digits-figure_numeric {
    font-size: 5em;
    margin: 2rem 0 1rem; }
    .digits-figure_numeric .small {
      font-size: 2.2rem; }
  .digits-figure_progress {
    color: #ededed;
    font-size: 1.4em; }
  /* ----- SECTION problems-block ----- */
  .problems-block {
    padding-top: 2rem; }
  .problems-kind {
    font-size: 2em; }
  .problems-items {
    margin-top: 3rem; }
  .problems-figure {
    height: 20rem;
    *display: inline;
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 0 0%;
    width: 100%;
    *width: 99.94792%; }
  .problems-figure__price {
    left: 0%; }
  .problems-figure_hand {
    display: none; }
  .problems-figure_calc {
    display: none; }
  .problems-figure__price-txt {
    right: 0%; }
  .problems-figure_claim {
    width: 30rem; }
  .problems-figure_smile {
    width: 3rem;
    height: 3rem; }
  .problems-figure_txt {
    font-size: 3em;
    line-height: 3rem; }
  .problems-figure_claim {
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  .problems-figure__delivery-txt .problems-figure_claim {
    left: 50%; }
  .problems-figure__price-txt .problems-figure_claim {
    right: 0;
    left: 50%; }
  /* ----- SECTION about-block ----- */
  .about-video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 1rem;
    min-height: 40rem; }
  .videoo {
    width: 58rem;
    height: 30rem;
    border: 8px solid #a13b05; }
  .about-txt {
    width: 100%;
    font-size: 1.6em;
    line-height: 2rem;
    padding: 1rem 1rem 2rem; }
  /* ----- SECTION contacts-block ----- */
  .contacts-block {
    min-height: 45rem;
    padding-top: 2rem; }
  .contacts-adress {
    font-size: 1.4em;
    margin-top: 1rem; }
  .contacts-requisites {
    font-size: 1.4em; }
  .contacts-connection {
    margin-top: 1rem;
    margin-bottom: 3rem; }
    .contacts-connection li + li:before {
      height: 1.5rem;
      border-left: 2px solid #000; }
    .contacts-connection li a {
      color: #000;
      font-size: 2.2em; }
  .form-send-message {
    width: 58rem; }
    .form-send-message .form-group {
      margin-bottom: 1.5rem; }
    .form-send-message input.form-control {
      height: 4.5rem; }
    .form-send-message textarea {
      min-height: 11rem; }
  .form-group-wrap .form-group {
    width: 27rem; }
    .form-group-wrap .form-group:first-child {
      float: left; }
    .form-group-wrap .form-group:last-child {
      float: right; }
  .btn__submit {
    width: 27rem;
    height: 4.5rem;
    font-size: 2.2em;
    line-height: 3.6rem; }
  /* ----- SECTION map ----- */
  .map {
    height: 40rem;
    background-color: #ccc; }
  /* ----- SECTION modals ----- */
  .modal {
    width: 55rem;
    display: none;
    position: relative;
    text-align: center; }
  .modal-body {
    padding: 7rem; }
  .modal__get-offer {
    height: 50rem; }
  .modal-title {
    font-size: 3em; }
  .modal-note {
    font-size: 2em;
    margin-bottom: 2rem; }
  .modal-form__get-offer .form-control {
    margin-bottom: 2rem; }
  .modal-form__get-offer input.form-control {
    height: 4.5rem; }
  .modal-form__get-offer textarea.form-control {
    height: 10rem; }
  .modal-form__get-offer .form-group-wrap .form-group {
    width: 20rem; }
  .btn__modal-get-offer {
    width: 28rem;
    height: 4.5rem;
    font-size: 2em; }
  .modal__thanks {
    height: 27rem; }
  .modal-body__thanks {
    padding: 8rem 5rem; }
  /* ===== FOOTER ===== */
  footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 9rem;
    padding-top: 2rem; }
    footer span {
      font-size: 1.2em; }
  .copyright {
    margin-bottom: 1rem; } }

@media screen and (max-width: 600px) {
  /* ----- SECTION offer-block ----- */
  .offer-block {
    min-height: 45rem; }
  /* ----- SECTION order-block ----- */
  .order-block {
    min-height: 48rem; }
  .order-consult_form {
    width: 45rem; }
  /* ----- SECTION digits-block ----- */
  .digits-items {
    width: 46rem; }
  /* ----- SECTION problems-block ----- */
  .problems-kind {
    font-size: 1.6em; }
  /* ----- SECTION about-block ----- */
  .about-video {
    min-height: auto; }
  .videoo {
    width: 46rem;
    height: 23rem;
    border: 6px solid #a13b05; }
  .about-txt {
    width: 100%;
    font-size: 1.4em; }
  /* ----- SECTION contacts-block ----- */
  .contacts-block {
    min-height: auto;
    padding-bottom: 2rem; }
  .contacts-connection li a {
    color: #000;
    font-size: 1.8em; }
  .form-send-message {
    width: 46rem; }
  .form-group-wrap .form-group {
    width: 21rem; }
    .form-group-wrap .form-group:first-child {
      float: left; }
    .form-group-wrap .form-group:last-child {
      float: right; }
  .btn__submit {
    width: 21rem; }
  /* ----- SECTION map ----- */
  .map {
    height: 35rem; }
  /* ----- SECTION modals ----- */
  .modal {
    width: 46rem; }
  .modal-body {
    padding: 7rem 3rem; }
  .modal__get-offer {
    height: 45rem; }
  .modal-title {
    font-size: 2.6em; }
  .modal-note {
    font-size: 1.8em;
    margin-bottom: 2rem; }
  .modal-form__get-offer .form-control {
    margin-bottom: 2rem; }
  .modal-form__get-offer input.form-control {
    height: 4rem; }
  .modal-form__get-offer textarea.form-control {
    height: 10rem; }
  .modal-form__get-offer .form-group-wrap .form-group {
    width: 19rem; }
  .btn__modal-get-offer {
    width: 26rem;
    height: 4.5rem;
    font-size: 1.8em; }
  .modal__thanks {
    height: 25rem; }
  .modal-body__thanks {
    padding: 7rem 3rem; } }

@media screen and (max-width: 479px) {
  /* ===== CORE ===== */
  .title__one {
    font-size: 1.8em; }
  .title__two {
    font-size: 1.8em; }
  .title__three {
    font-size: 1.6em; }
  /* ----- SECTION offer-block ----- */
  .offer-block {
    min-height: 35rem; }
  .offer-title_small {
    font-size: 1.8em; }
  .offer-board_get-item {
    width: 33rem;
    height: 10rem; }
    .offer-board_get-item:before, .offer-board_get-item:after {
      width: 33.3rem;
      height: 10.3rem; }
    .offer-board_get-item span {
      font-size: 1.6em; }
  .btn__get {
    width: 20rem;
    height: 4.5rem;
    font-size: 1.6em;
    line-height: 3.7rem; }
  /* ----- SECTION ubs-block ----- */
  .ubs-items {
    margin: 0; }
  .ubs-items_title {
    font-size: 1.6em; }
  /* ----- SECTION order-block ----- */
  .order-block {
    min-height: 42rem; }
  .order-consult_form {
    width: 34rem; }
  .order-consult_title {
    font-size: 1.6em; }
  .form-order {
    width: 31rem; }
    .form-order .form-control {
      height: 4.5rem; }
  /* ----- SECTION digits-block ----- */
  .digits-items {
    width: 100%; }
  /* ----- SECTION problems-block ----- */
  .problems-kind {
    font-size: 1.4em; }
  .problems-figure {
    height: 15rem; }
  .problems-figure_claim {
    width: 25rem; }
  .problems-figure_smile {
    width: 2rem;
    height: 2rem; }
  .problems-figure_txt {
    font-size: 2.4em;
    line-height: 2.4rem; }
  /* ----- SECTION about-block ----- */
  .videoo {
    width: 34rem;
    height: 17rem;
    border: 4px solid #a13b05; }
  /* ----- SECTION contacts-block ----- */
  .contacts-adress {
    font-size: 1.3em; }
  .contacts-requisites {
    font-size: 1.3em; }
  .contacts-connection li a {
    color: #000;
    font-size: 1.4em; }
  .form-send-message {
    width: 34rem; }
  .form-group-wrap .form-group {
    width: 15rem; }
  .btn__submit {
    width: 17rem; }
  /* ----- SECTION map ----- */
  .map {
    height: 30rem; }
  /* ----- SECTION modals ----- */
  .modal {
    width: 35rem; }
  .modal-body {
    padding: 7rem 3rem 2rem; }
  .modal__get-offer {
    height: auto; }
  .modal-title {
    font-size: 2em; }
  .modal-note {
    font-size: 1.6em;
    margin-bottom: 2rem; }
  .modal-form__get-offer .form-control {
    margin-bottom: 2rem; }
  .modal-form__get-offer input.form-control {
    height: 4rem; }
  .modal-form__get-offer textarea.form-control {
    height: 10rem; }
  .modal-form__get-offer .form-group-wrap .form-group {
    width: 100%; }
  .btn__modal-get-offer {
    width: 26rem;
    height: 4.5rem;
    font-size: 1.8em; }
  .modal__thanks {
    height: 21rem; }
  .modal-body__thanks {
    padding: 7rem 2rem; }
  /* ===== FOOTER ===== */
  footer {
    min-height: 8rem;
    padding-top: 1rem; }
    footer span {
      font-size: 1.1em; }
  .copyright {
    margin-bottom: .8rem; } }

@media screen and (max-width: 359px) {
  html {
    font-size: 55%; }
  .slicknav_nav {
    top: 1.9rem; } }
