/* ===== NORMALIZE-SANITIZE ===== */

html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1.4;
  cursor: default;
  color: #222;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

/* ----- HELPER CLASSES ----- */

.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after { clear: both; }

.hidden { display: none !important; }

/* ----- BASIC STYLES ----- */

body {
  margin:  0;
  padding: 0;
}

p { margin: 0; }

h1, h2 {
  margin: 0;
  font-weight:   500;  
  font-style: normal;
}

h1 { font-size: 3.6rem; }

h2 { font-size: 3rem; }

h3 {
  margin: 0; 
  font-size:  2.4rem;
  font-style: normal;
  font-weight:   500;
}

h4 {
  margin: 0; 
  font-size:  1.8rem;
  font-style: normal;
  font-weight:   600;
}

h5 {
  margin: 0; 
  font-size:  1.6rem;
  font-style: normal;
  font-weight:   600;
}

h6 {
  margin: 0; 
  color: #777;
  font-size:  1.4rem;
  font-style: normal;
  font-weight:   600;
}

hr {
  display: block;
  margin: 1em 0;
  padding:    0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

ul {
  margin:  0;
  padding: 0;
  list-style: none;
}

nav ul {
  margin:  0;
  padding: 0;
  list-style: none;
  text-align: center; 
}

nav a {
  color: #444;
  text-decoration: none;
  -webkit-transition: .25s ease;
          transition: .25s ease; 
}

a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
}

a:active,
a:hover { outline: 0; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

svg:not(:root) { overflow: hidden; }

figcaption,
article,
details,
section,
summary,
figure,
footer,
header,
hgroup,
aside,
main,
menu,
nav { display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

iframe,
img,
svg,
video { vertical-align: middle; }

audio:not([controls]) {
  display: none;
  height: 0;
}

figure { margin: 0 0 1rem; }

footer { clear: both; }

[hidden],
template { display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; 
}

*, ::before, ::after {
  box-sizing: inherit; 
  border-style: solid;
  border-width:     0;
}

* {
  margin:  0;
  padding: 0; 
  font-size: inherit;
  line-height: inherit;
}

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; 
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* ----- DECORATION TEXT ----- */

dl { margin-bottom: 1.6rem; }

dd { margin-left: 4rem; }

abbr[title] { border-bottom: 1px dotted; }

b,
strong { font-weight: bold; }

dfn { font-style: italic; }

mark {
  background: #ff0;
  color: #000;
}

small { font-size: 80%; }

big { font-size: 125%; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {
  display: block;
  overflow: auto;
  margin: 1.6rem 0;
  padding:  1.6rem;
  word-break: break-all;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1em;
}

/* ----- FORM ELEMENTS ----- */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button { overflow: visible; }

select {
  text-transform: none;
  background-color: #fff;
  border: .1rem solid #ccc; 
}

input { line-height: normal; }

input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button,
input[type="button"], input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: baseline;
  text-transform: uppercase;
  text-decoration:     none;
  text-align:        center;
  background-color: transparent;
  -webkit-user-select: none;
    -webkit-user-drag: none;
     -moz-user-select: none;
      -ms-user-select: none;
          -webkit-user-select: none;
          user-select: none;
  -webkit-transition: .25s ease;
          transition: .25s ease;
}

button:disabled,
input[type=submit]:disabled { 
  opacity: .4; 
  box-shadow: none;
  cursor: not-allowed;
}

input[type="datetime-local"][disabled], 
input[type="password"][disabled], 
input[type="datetime"][disabled], 
input[type="number"][disabled], 
input[type="search"][disabled], 
input[type="email"][disabled],
input[type="month"][disabled], 
input[type="color"][disabled], 
input[type="text"][disabled],
input[type="date"][disabled],  
input[type="time"][disabled],  
input[type="week"][disabled], 
input[type="url"][disabled], 
input[type="tel"][disabled],   
textarea[disabled],
select[disabled] { 
  color: #777;
  cursor: not-allowed; 
  background-color: #efefef;
}

input:not([type])[disabled] {
  color: #777;
  cursor: not-allowed; 
  background-color: #efefef;
}

input[readonly],
select[readonly],
textarea[readonly] {
  color: #777; 
  border-color: #ccc;
  background-color: #efefef;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="datetime-local"], 
input[type="password"], 
input[type="datetime"], 
input[type="number"], 
input[type="search"], 
input[type="email"], 
input[type="month"], 
input[type="color"], 
input[type="text"], 
input[type="date"], 
input[type="time"], 
input[type="week"], 
input[type="url"], 
input[type="tel"], 
select {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle; 
  border: .1rem solid #ccc;
}

input:not([type]) {
  display: inline-block;
  padding: 0.8rem;
  text-align: left; 
  border-radius: 0;
  border: .1rem solid #ccc;
  background-clip: padding-box;
  background-color:       #fff;
  -webkit-appearance: none;
  color: #444;
}

input[type="datetime-local"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="email"]:focus, 
input[type="month"]:focus, 
input[type="color"]:focus, 
input[type="text"]:focus, 
input[type="date"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="url"]:focus, 
input[type="tel"]:focus, 
select:focus, 
textarea:focus {
  border-color: #b3d4fc; 
}

input:not([type]):focus {
  border-color: #b3d4fc; 
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus {
  outline: .1rem solid thin #444; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="number"] {
  width: auto; 
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea:focus:invalid, 
select:focus:invalid,
/*input:focus:invalid*/
{ 
  color: #b94a48; 
  border-color: #e9322d;
}

input[type="checkbox"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus, 
input[type="file"]:focus:invalid:focus { 
  outline-color: #ff4136; 
}

fieldset {
  padding: 0.8rem 0; 
  margin: 0;
  border: 0;
}

legend {
  border: 0;
  padding: 0;
}

label { line-height: 2; }

textarea {
  display: block;
  overflow: auto;
  margin-bottom: 0.8rem;
  padding:       0.8rem;
  resize: vertical;
  border-radius: 0;
  border: .1rem solid #ccc;
  vertical-align: middle;
}

optgroup { font-weight: bold; }

/* ----- TABLE ELEMENTS ----- */

table {
  border-collapse: collapse;
  margin-bottom: 1.6rem;
  border-spacing: 0;
}

caption { padding: 0.8rem 0; }

td,
th {
  padding: 0;
  text-align: center;
  vertical-align: inherit;
  border: .1rem solid #ccc;
}

/* ----- @MEDIA ----- */

/*
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
       Style adjustments for high resolution devices
}
 */

@media screen {
  [hidden~="screen"] {
      display: inherit; 
  }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
      position: absolute !important; 
      clip: rect(0 0 0 0) !important;
  } 
}

@media print {
  *, *:before, *:after {
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
      background: transparent !important;
  }

  a, a:visited { text-decoration: underline; }

  a[href]:after { content: " (" attr(href) ")"; }

  abbr[title]:after { content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead { display: table-header-group; }

  tr,
  img { page-break-inside: avoid; }

  img { max-width: 100% !important; }

  p,
  h2, h3 {
      orphans: 3;
      widows: 3;
  }

  h2, h3 { page-break-after: avoid; }
} 

/* ===== SLICK-SLIDER ===== */

.slick-slider {
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  -webkit-touch-callout: none;
       -ms-touch-action: pan-y;
           touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  margin:  0;
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor:    hand;
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  top:  0;
  left: 0;
  display: block;
  position: relative;
}

.slick-track:after,
.slick-track:before {
  content: '';
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  display: none;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  height: auto;
  display: block;
  border: 1px solid transparent;
}

/* ----- DEFAULT THEME ----- */

 @charset 'UTF-8';

/* Arrows */

.slick-prev,
.slick-next {
  top: 50%;
  padding: 0;
  width:  20px;
  height: 20px;
  font-size: 0;
  border: none;
  outline: none;
  display: block;
  line-height: 0;
  cursor: pointer;
  margin-top: -10px;
  position: absolute;
  color: transparent;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  opacity: .75;
  line-height: 1;
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '<';
}

[dir='rtl'] .slick-prev:before {
  content: '>';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '>';
}

[dir='rtl'] .slick-next:before {
  content: '<';
}

/* Dots */

.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  padding: 0;
  width: 100%;
  bottom: -45px;
  display: block;
  list-style: none;
  position: absolute;
  text-align: center;
}

.slick-dots li {
  padding: 0;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.slick-dots li button {
  border: 0;
  padding: 0;
  width:  14px;
  height: 14px;
  font-size: 0;
  opacity: .35;
  outline: none;
  display: block;
  line-height: 0;
  cursor: pointer;
  color: transparent;
  border-radius: 7px;
  background: rgb(18, 247, 41);
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  opacity: 1;
  outline: none;
}

.slick-dots li.slick-active button {
  opacity: .6;
}
/* ===== GRID ===== */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: '';
  display: table;
}
body:after {
  clear: both;
}
/* ===== #AUTHOR'S STYLES ===== */
/* ----- general rules ----- */
html,
body {
  font-family: 'PT Sans';
  background-color: #e8ebef;
}
.menu a {
  color: white;
  font-size: 1.6em;
}
span.title {
  color: #333;
  font-size: 3.6em;
  font-weight: 700;
  margin-bottom: 3rem;
  display: inline-block;
}
.btn {
  color: white;
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
  border-radius: .5rem;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.btn__m {
  height: 4rem;
  width: 11rem;
  padding: .5em 0;
}
.btn__lg {
  width: 17rem;
  height: 5rem;
  padding: .7em 0;
  font-size: 1.8em;
}
.btn__xlg {
  width: 18rem;
  height: 5rem;
  padding: .7em 0;
  font-size: 1.8em;
}
.btn__xlg img {
  margin-top: .2rem;
  margin-left: .2rem;
  vertical-align: top;
}
.btn__green {
  background-color: #269466;
}
.btn__green:hover {
  background-color: #1b704c;
}
.btn__blue {
  background-color: #3943b4;
}
.btn__blue:hover {
  background-color: #2a328c;
}
.heading {
  color: #269466;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2.2rem;
}
.heading__h1 {
  font-size: 3.6em;
}
.heading__h2 {
  font-size: 3em;
}
.heading__h3 {
  font-size: 2.4em;
}
.heading__h4 {
  font-size: 2em;
}
.container {
  max-width: 99rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
section {
  padding: 2.2rem 0 4rem;
}
.highlight {
  color: #269466;
}
/* ----- HEADER ----- */
header {
  margin-bottom: .3rem;
  box-shadow: 0 0.3rem 0.1rem rgba(0, 0, 0, 0.4);
}
.navbar {
  background-color: #3943b4;
}
.navbar-brand {
  float: left;
  width: 24.5rem;
  padding-left: 4.5rem;
}
.navbar-brand .logo {
  color: white;
  font-size: 3.4em;
  line-height: 3rem;
  padding-top: .8rem;
  display: inline-block;
  text-shadow: 0.1rem 0.17rem 0 rgba(22, 22, 22, 0.31);
}
.navbar-brand__mob {
  display: none;
}
.navbar-nav {
  float: right;
}
.menu li {
  float: left;
  width: 10rem;
  height: 7.6rem;
  background-color: #3943b4;
  border-bottom: 4px solid #3943b4;
}
.menu li:hover {
  background-color: #2a328c;
  border-bottom: 4px solid #2a328c;
}
.menu li.current {
  background-color: #269466;
  border-bottom: 4px solid #3b413e;
}
.menu a {
  display: block;
  line-height: 2rem;
  padding: 1.8rem 1rem;
}
/* ----- SECTION bonus ----- */
.bonus {
  padding: 2.5rem 0;
  background-color: #cfd3d7;
}
.bonus-clime {
  float: left;
  color: #3943b4;
  font-size: 4.8em;
  line-height: 4rem;
  padding-top: .5rem;
  padding-left: 4.5rem;
  text-transform: uppercase;
}
.bonus-clime .highlight {
  font-weight: 700;
}
.btn__xlg {
  float: right;
  margin-right: 3.5rem;
}
/* ----- SECTION top-pokies ----- */
.top-pokies {
  text-align: center;
}
.top-pokies-item {
  *zoom: 1;
  text-align: left;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
.top-pokies-item:before,
.top-pokies-item:after {
  content: '';
  display: table;
}
.top-pokies-item:after {
  clear: both;
}
.top-pokies-item + .top-pokies-item {
  margin-top: 1rem;
}
.title + .top-pokies-item .top-pokies-item_digit {
  color: #fff;
  background-color: #f53e61;
}
.top-pokies-item_avatar {
  float: right;
  width: 26rem;
  height: 26rem;
}
.top-pokies-item_avatar img {
  width: 100%;
  height: 100%;
}
.top-pokies-item_body {
  height: 26rem;
  position: relative;
  padding-bottom: 1.8rem;
  padding-right: 28rem;
  padding-left: 15rem;
  padding-top: 1.8rem;
}
.top-pokies-item_body .btn__green {
  position: absolute;
  bottom: 1.8rem;
  right: 28rem;
}
.top-pokies-item_body .btn__blue {
  position: absolute;
  bottom: 7.8rem;
  right: 28rem;
}
.top-pokies-item_digit {
  float: left;
  margin: 1rem;
  width: 11rem;
  height: 11rem;
  color: #f53e61;
  font-size: 10em;
  line-height: 11rem;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  background-color: #e8ebef;
}
.numeric {
  line-height: inherit;
  display: inline-block;
}
.top-pokies-item_content {
  padding-right: 13.5rem;
}
.top-pokies-item_header {
  margin-bottom: 1.2rem;
}
.top-pokies-item_header img {
  height: 4rem;
  width: auto;
}
.top-pokies-item_stars {
  position: absolute;
  display: inline-block;
  top: 2.5rem;
  right: 28rem;
}
.top-pokies-item_stars .star.up {
  background-position: -0.5rem -0.5rem;
}
.top-pokies-item_stars .star {
  width: 1.9rem;
  height: 1.8rem;
  margin: 0 .1rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: -0.5rem -3.3rem;
  background-image: url('../img/sprites-star.png');
}
.top-pokies-item_title {
  color: #3943b4;
  font-size: 2em;
  font-weight: 700;
  line-height: 2rem;
  display: inline-block;
}
.top-pokies-item_title:hover {
  text-decoration: underline;
}
.top-pokies-item_discribe {
  display: none;
}
.top-pokies-item_review {
  display: none;
}
.top-pokies-item_txt {
  color: #333;
  font-size: 1.3em;
  line-height: 2rem;
  text-align: justify;
}
.read-more {
  color: #3943b4;
  font-size: 1em;
  line-height: 2rem;
  margin-left: .3rem;
  display: inline-block;
  text-decoration: underline;
}
.read-more:hover {
  text-decoration: none;
}
.top-pokies-item_why-play ul {
  color: #269466;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 3rem;
  display: inline-block;
}
.top-pokies-item_why-play li {
  color: #333;
  font-size: .83em;
  font-weight: 400;
  line-height: 2rem;
}
.top-pokies-item_why-play li:before {
  content: '- ';
}
.top-pokies-item_why-play li a {
  color: #3943b4;
}
.top-pokies-item_why-play li a:hover {
  text-decoration: underline;
}
/* ----- SECTION best-pokies ----- */
.best-pokies {
  text-align: center;
  background-color: #cfd3d7;
}
.best-pokies .container {
  padding: 0 .2rem;
}
.slide {
  width: 22rem;
  margin: 0 1.3rem;
  display: inline-block;
}
.slide-pic {
  width: 100%;
  height: 15.5rem;
  padding: .9rem;
  margin-bottom: .3rem;
  background-color: #3943b4;
}
.slide-pic img {
  width: 100%;
  height: 100%;
}
.slide-caption {
  color: #3943b4;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: .4rem;
}
.slide-txt {
  color: #333;
  font-size: 1.3em;
  line-height: 1.6rem;
  margin-bottom: .8rem;
}
.slide-txt a {
  color: #3943b4;
  text-decoration: underline;
}
.slide-txt a:hover {
  text-decoration: none;
}
/* ----- SECTION new-pokies ----- */
.new-pokies {
  text-align: center;
}
.new-pokies .container {
  padding: 0 .2rem;
}
/* ----- SECTION progressive-pokies ----- */
.progressive-pokies {
  text-align: center;
  background-color: #cfd3d7;
}
.progressive-pokies-gallery {
  margin: 0 -1.3rem;
}
.progressive-pokies-gallery_item {
  *display: inline;
  vertical-align: top;
  display: inline-block;
  padding: 0 0%;
  width: 25%;
  *width: 24.94791667%;
  padding: 0 1.3rem;
}
.progressive-pokies-gallery_wrap {
  padding: .9rem;
  width: 100%;
  height: 15.5rem;
  background-color: #3943b4;
}
.progressive-pokies-gallery_wrap img {
  width: 100%;
  height: 11.7rem;
  margin-bottom: .3rem;
}
.gallery-caption {
  color: white;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 2rem;
}
/* ----- SECTION gen-content ----- */
.gen-content .btn {
  left: 50%;
  position: relative;
  margin: 4.5rem auto 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.gen-content_txt {
  color: #333;
  font-size: 1.6em;
  font-weight: 400;
}
.gen-content_txt + .gen-content_txt {
  margin-top: 1.5rem;
}
.heading__h1 {
  margin-top: 1rem;
}
/* ----- FOOTER ----- */
footer {
  padding: 3.8rem 0;
  text-align: center;
  background-color: #5b5b5b;
}
footer span {
  color: #fff;
  font-size: 1.4em;
  line-height: 1.8rem;
}
footer span a {
  color: #fff;
  text-decoration: underline;
}
footer span a:hover {
  text-decoration: none;
}
/* SLICKSLIDER */
.slick-next,
.slick-prev {
  top: 50%;
  opacity: .6;
  border: none;
  height: 6rem;
  width: 6rem;
  margin-top: -5rem;
}
.slick-next:hover,
.slick-prev:hover {
  opacity: 1;
}
.slick-prev {
  left: -75px;
  background-image: url('../img/arrow-prev.png');
}
.slick-next {
  right: -75px;
  background-image: url('../img/arrow-next.png');
}
.slick-prev::before {
  content: '';
}
.slick-next::before {
  content: '';
}
/* ===== #MADIA QUERIES FOR RESPONSIVE DESIGN ===== */
@media screen and (max-width: 1150px) {
  /* SLICKSLIDER */
  .slick-next,
  .slick-prev {
    display: none !important;
  }
}
/* ----- TABLET VERSION ----- */
@media screen and (max-width: 1023px) {
  html {
    font-size: 50%;
  }
  /* ----- SECTION top-pokies ----- */
  .top-pokies-item_stars .star {
    width: 2.5rem;
    height: 2.6rem;
  }
}
/* ----- MOBILE VERSION ----- */
@media screen and (max-width: 767px) {
  /* ----- general rules ----- */
  html {
    height: 100%;
    font-size: 62.5%;
  }
  body {
    height: 100%;
    margin-top: 5.5rem;
  }
  span.title {
    font-size: 2.8em;
    margin-bottom: 1rem;
  }
  .btn__m {
    height: 4rem;
    width: 11rem;
    padding: .5em 0;
  }
  .btn__lg {
    width: 17rem;
    height: 5rem;
    padding: .7em 0;
    font-size: 1.8em;
  }
  .btn__xlg {
    float: none;
    margin-right: 0;
  }
  .heading {
    margin-bottom: .5rem;
    margin-top: 1.1rem;
  }
  .heading__h1 {
    font-size: 2.8em;
  }
  .heading__h2 {
    font-size: 2.4em;
  }
  .heading__h3 {
    font-size: 2em;
  }
  .heading__h4 {
    font-size: 1.6em;
  }
  .container {
    padding: 0 1rem;
  }
  section {
    padding: 2.2rem 0;
  }
  /* ----- HEADER ----- */
  header {
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
  }
  .navbar {
    padding: .5rem 0;
  }
  .navbar-nav {
    top: 0;
    left: 0;
    z-index: 3;
    width: 36rem;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    padding: 5rem .5rem;
    background-color: #3943b4;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(-50rem, 0, 0);
    transform: translate3d(-50rem, 0, 0);
  }
  .is-visible .navbar-nav {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .is-visible .overlay {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
  }
  .navbar-brand {
    padding-left: 0;
  }
  .navbar-brand .logo {
    padding-top: 0;
    font-size: 2em;
    line-height: 2rem;
  }
  .navbar-brand__mob {
    top: -4rem;
    position: relative;
    display: inline-block;
  }
  .btn-menu {
    z-index: 4;
    position: absolute;
    top: 1.3rem;
    right: 2rem;
    display: inline-block !important;
  }
  .icon-bar {
    width: 3rem;
    height: .4rem;
    display: block;
    background-color: #fff;
  }
  .icon-bar + .icon-bar {
    margin-top: .5rem;
  }
  .icon-bar.move {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .icon-bar.rotate {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .icon-bar.rotate-reverse {
    top: 20%;
    left: 0;
    position: absolute;
  }
  .is-open .icon-bar.move-up {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .is-open .icon-bar.move-down {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .is-open .icon-bar.rotate {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .is-open .icon-bar.rotate-reverse {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu {
    margin-top: 1.5rem;
  }
  .menu li {
    float: none;
    height: auto;
    width: auto;
    border: none;
    display: block;
    text-align: left;
    padding: .5rem 0;
    border-top: 1px solid #fff;
    background-color: transparent;
  }
  .menu li div {
    display: inline-block;
  }
  .menu li:hover {
    border: none;
    background-color: #2a328c;
    border-top: 1px solid #fff;
  }
  .menu li.current {
    border: none;
    border-top: 1px solid #fff;
    background-color: transparent;
  }
  .menu li.current:hover {
    background-color: #2a328c;
  }
  .menu a {
    padding: .5em 0;
    font-size: 2.2em;
    line-height: 1.3rem;
    display: inline-block;
  }
  /* ----- SECTION bonus ----- */
  .bonus {
    padding: 1.5rem 0;
    text-align: center;
  }
  .bonus-clime {
    float: none;
    font-size: 3em;
    padding-left: 0;
    line-height: 3rem;
    margin-bottom: 1rem;
    display: inline-block;
  }
  /* ----- SECTION top-pokies ----- */
  .top-pokies {
    padding-bottom: 2.2rem;
  }
  .top-pokies-item_digit {
    display: none !important;
  }
  .top-pokies-item_avatar {
    float: left;
    width: 7rem;
    height: 6rem;
    margin: .3rem;
  }
  .top-pokies-item_body {
    height: auto;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 0;
    padding-top: .5rem;
  }
  .top-pokies-item_body .btn__green {
    width: 19.4rem;
    bottom: .3rem;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    box-shadow: 0 0.2rem 0.2rem rgba(3, 3, 6, 0.3);
  }
  .top-pokies-item_content {
    padding-right: 0;
  }
  .top-pokies-item_header {
    display: none;
  }
  .top-pokies-item_stars {
    display: none;
  }
  .top-pokies-item_info {
    padding-left: .8rem;
  }
  .top-pokies-item_title {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 2rem;
    text-decoration: underline;
  }
  .top-pokies-item_title:hover {
    text-decoration: none;
  }
  .top-pokies-item_review {
    width: 3rem;
    height: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../img/review.png');
  }
  .top-pokies-item_review.show {
    background-image: url('../img/review-up.png');
  }
  .top-pokies-item_discribe {
    display: block;
    height: 4.2rem;
    text-align: left;
    font-size: 1.4em;
    font-weight: 700;
    position: relative;
  }
  .top-pokies-item_bonus {
    top: 50%;
    width: 73%;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .top-pokies-item_bonus:hover {
    text-decoration: underline;
  }
  .top-pokies-item_txt {
    display: none;
    text-align: left;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 2rem;
  }
  .top-pokies-item_why-play {
    padding-bottom: 5rem;
  }
  .top-pokies-item_why-play ul {
    display: none;
  }
  /* ----- SECTION progressive-pokies ----- */
  /* ----- SECTION progressive-pokies ----- */
  .progressive-pokies .container {
    max-width: 54rem;
  }
  .progressive-pokies-gallery_item {
    *display: inline;
    vertical-align: top;
    display: inline-block;
    padding: 0 0%;
    width: 50%;
    *width: 49.94791667%;
    padding: 0 1.3rem;
    margin-bottom: 1.5rem;
  }
  .progressive-pokies-gallery {
    margin: 0;
  }
  .gallery-caption {
    font-size: 1.6em;
  }
  /* ----- SECTION gen-content ----- */
  .gen-content .btn {
    margin: 2rem auto 0;
  }
  .gen-content_txt {
    font-size: 1.5em;
  }
  .gen-content_txt + .gen-content_txt {
    margin-top: 1.5rem;
  }
  .heading__h1 {
    margin-top: 0;
  }
  /* ----- FOOTER ----- */
  footer {
    padding: 2rem 0;
  }
  footer span {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 720px) {
  /* ----- SECTION best-pokies ----- */
  .best-pokies .container {
    width: 55rem;
  }
  /* ----- SECTION new-pokies ----- */
  .new-pokies .container {
    width: 55rem;
  }
}
@media screen and (max-width: 720px) {
  /* ----- SECTION best-pokies ----- */
  .best-pokies .container {
    width: auto;
    max-width: 52.5rem;
  }
  /* ----- SECTION new-pokies ----- */
  .new-pokies .container {
    width: auto;
    max-width: 52.5rem;
  }
}
@media screen and (max-width: 479px) {
  /* ----- general rules ----- */
  .hack {
    top: 0;
    opacity: 0;
    z-index: -1;
    width: 100%;
    position: absolute;
    background-color: #3943b4;
    -webkit-transition: opacity 700ms ease;
    transition: opacity 700ms ease;
  }
  .is-visible.hack {
    z-index: 1;
    opacity: 1;
  }
  span.title {
    font-size: 2.2em;
  }
  .btn__xlg {
    width: 100%;
  }
  .heading {
    margin-top: .5rem;
  }
  .heading__h1 {
    font-size: 2.4em;
  }
  .heading__h2 {
    font-size: 2.2em;
  }
  .heading__h4 {
    font-size: 1.8em;
  }
  .container {
    padding: 0 .5rem;
  }
  section {
    padding: 1.5rem 0;
  }
  .navbar-nav {
    width: 100%;
  }
  /* ----- SECTION top-pokies ----- */
  .top-pokies {
    padding-bottom: 1.5rem;
  }
  .top-pokies-item_body .btn__green {
    width: 98%;
    bottom: .3rem;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .top-pokies-item_bonus {
    width: 65%;
  }
  .top-pokies-item_content {
    padding-right: 1.5rem;
  }
  /* ----- SECTION best-pokies ----- */
  .best-pokies .container {
    width: 32rem;
  }
  /* ----- SECTION new-pokies ----- */
  .new-pokies .container {
    width: 32rem;
  }
  .slide-pic {
    width: 22rem;
    height: 15.5rem;
    display: inline-block;
  }
  .slide-txt {
    width: 22rem;
    display: inline-block;
  }
  /* ----- SECTION progressive-pokies ----- */
  .progressive-pokies-gallery_item {
    width: 25rem;
    padding: 0 1.3rem;
    margin-bottom: 1.5rem;
  }
  /* ----- FOOTER ----- */
  footer span {
    font-size: 1.3em;
  }
}
