/* ===== GRID ===== */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: '';
  display: table;
}
body:after {
  clear: both;
}
/* ===== #AUTHOR'S STYLES ===== */
/* ----- connect fonts ----- */
@font-face {
  font-family: UbuntuCondensed;
  src: url("../fonts/UbuntuCondensed-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-R.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-B.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-L.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/* ----- general rules ----- */
html,
body {
  font-family: Ubuntu;
}
h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.8rem;
}
h2 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.form-control {
  border: 0;
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 300;
  box-shadow: none;
  border-radius: 0;
  line-height: 1.7rem;
  padding-left: .3rem;
  background-color: transparent;
  border-bottom: .1rem solid #000;
}
.btn {
  color: white;
  font-size: 1.2em;
  border-radius: 0;
  font-weight: 500;
  line-height: 1.6rem;
  text-transform: uppercase;
  background-color: #e30413;
  font-family: UbuntuCondensed;
}
.form-group {
  margin: 0;
}
.form-group + .form-group {
  margin-top: .5rem;
}
/* ----- HEADER ----- */
header {
  min-height: 10rem;
  padding-top: 4rem;
  position: relative;
  background-color: #fff;
}
.navbar {
  margin: 0;
  z-index: 2;
  background-color: #fff;
}
.navbar-header {
  float: left;
}
.navbar-contact {
  float: right;
}
.btn-menu {
  width: 2.5rem;
  height: 1.8rem;
  margin-right: 1rem;
  display: inline-block;
}
.btn-menu:focus,
.btn-menu:active {
  outline: none;
}
.icon-bar {
  height: .3rem;
  display: block;
  background-color: #575756;
}
.icon-bar + .icon-bar {
  margin-top: .5rem;
}
.navbar-brand {
  padding: 0;
  float: none;
  width: 25rem;
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 400;
  padding-left: 6rem;
  line-height: 1.4rem;
  font-family: Calibri;
  display: inline-block;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
  background-image: url('../img/logo.png');
}
.navbar-brand span {
  margin-top: 1rem;
  display: inline-block;
}
.navbar-tel {
  float: right;
  color: #3c3c3b;
  font-size: 3em;
  font-weight: 400;
  font-family: Calibri;
  display: inline-block;
  text-transform: uppercase;
}
.btn__callback {
  float: right;
  color: #3c3c3b;
  font-size: 1em;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: .3em .7em;
  display: inline-block;
  border: .1px solid red;
  text-transform: uppercase;
  background-color: transparent;
}
.navbar-nav {
  float: none;
  bottom: 3.5rem;
  padding: 0 1.5rem;
  position: relative;
  background-color: #fff;
  -webkit-transition: bottom .5s ease;
  transition: bottom .5s ease;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  float: left;
  width: 16.6%;
  text-align: center;
}
.menu li:hover {
  background-color: #ccc;
}
.menu li a {
  display: block;
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 400;
  padding: 1rem 1rem;
  line-height: 1.4rem;
  font-family: Calibri;
  text-transform: uppercase;
}
.menu li a:hover {
  text-decoration: none;
}
.menu-open .navbar-nav {
  bottom: 0;
}
/* ----- SECTION advs ----- */
.advs {
  top: -3rem;
  min-height: 40rem;
  position: relative;
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
  background-repeat: repeat-x;
  background-image: url('../img/advs-bg.png');
}
.advs .container {
  overflow: visible;
  position: relative;
}
.advs .container:after {
  content: '';
  width: 100%;
  height: 5.5rem;
  position: absolute;
  bottom: -1.7rem;
  left: 6rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  background-image: url('../img/line.png');
}
.menu-open .advs {
  top: 0;
}
.advs-show {
  width: 20rem;
  height: 40rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/advs-show-bg.png');
}
.advs-service {
  padding-top: 8rem;
}
.upper {
  text-transform: uppercase;
}
.title__h1 {
  padding: 1.5rem 2rem;
  margin-bottom: 2.5rem;
  display: inline-block;
  background-color: #e30413;
}
.advs-service_claim {
  color: #3c3c3b;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 2.2rem;
}
.advs-servise_list {
  padding: 0;
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 400;
  list-style: none;
}
.advs-servise_list li {
  padding-left: .8rem;
  background-repeat: no-repeat;
  background-position: 0 70%;
  background-image: url('../img/list-arrow.png');
}
/* ----- SECTION channels ----- */
.channels {
  padding: 3rem 0 5rem;
  background-color: #fff;
}
.channels-item {
  text-align: center;
}
.channels-item img {
  display: inline-block;
}
/* ----- SECTION targets ----- */
.targets {
  text-align: center;
  padding-bottom: 2.5rem;
}
.title .highlight {
  color: red;
}
.targets-achivments {
  color: #333434;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 2.5rem;
  display: inline-block;
}
.targets-tabs {
  border: none;
  color: #333434;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.targets-tabs li {
  padding: .5rem 0;
  background-color: #e0dfe0;
}
.targets-tabs li a {
  padding: 0;
  color: #000;
  border: none;
  margin-bottom: .3rem;
  display: inline-block;
}
.targets-tabs li a:hover {
  background-color: transparent;
}
.targets-tabs li + li {
  margin-left: .2rem;
}
.targets-tabs li.current {
  color: #fff;
  background-color: #e30413;
}
.targets-tabs li.current a {
  color: #fff;
}
.targets-tabs_item {
  cursor: pointer;
}
.nav-tabs .targets-tabs_item__all {
  width: 12%;
}
.nav-tabs .targets-tabs_item__tv {
  width: 14%;
}
.nav-tabs .targets-tabs_item__radio {
  width: 12.5%;
}
.nav-tabs .targets-tabs_item__advs {
  width: 18%;
}
.nav-tabs .targets-tabs_item__advs-out {
  width: 20%;
}
.nav-tabs .targets-tabs_item__design {
  width: 22%;
}
.row__targets {
  margin: 0 -0.5rem 0;
}
.tab-content {
  background-color: #fff;
}
.targets-item {
  overflow: hidden;
  position: relative;
  padding: 0 .5rem 0;
  margin-bottom: 2.5rem;
  background: url('../img/gray-dot.png') repeat content-box;
}
.targets-item:after {
  z-index: 2;
  content: '';
  width: 105%;
  height: 3.5rem;
  position: absolute;
  background-color: #fff;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
  left: -0.5rem;
  bottom: -1.7rem;
}
.targets-item_unit {
  height: 0;
  width: 100%;
  padding-top: 72.2%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.targets-item_unit__1 {
  background-image: url('../img/vcs.png');
}
.targets-item_unit__2 {
  background-image: url('../img/ton.png');
}
.targets-item_unit__3 {
  background-image: url('../img/dialog.png');
}
.targets-item_unit__4 {
  background-image: url('../img/what-buys.png');
}
.targets-item_unit__5 {
  background-image: url('../img/healthy.png');
}
.targets-item_unit__6 {
  background-image: url('../img/sport.png');
}
/* ----- SECTION promo ----- */
.promo {
  min-height: 32rem;
  padding-top: 3rem;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;
  background-image: url('../img/promo-bg.png');
}
.promo-gift {
  float: left;
  height: 25rem;
  width: 11rem;
  margin-left: 2rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/gift.png');
}
.promo-col__r {
  float: right;
  text-align: right;
}
.promo-advice {
  width: 29rem;
  position: relative;
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 2.5rem;
  background-color: #fff;
}
.promo-advice:after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 98%;
  top: 1.4rem;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  border-bottom: 1.7rem solid #873e84;
  border-right: 4.5rem solid transparent;
}
.promo-advice_title {
  color: white;
  display: block;
  padding: 1.5rem;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  background-color: #873e84;
}
.promo-advice_txt {
  color: #333434;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0 2rem;
  font-family: Ubuntu;
  line-height: 1.5rem;
}
.promo-advice_discount {
  color: #e30413;
  display: block;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.btn__view {
  color: #333434;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.3rem;
  padding: .8rem .7rem;
  border-color: #e30413;
  text-transform: uppercase;
  background-color: transparent;
}
.promo-form {
  width: 23.3rem;
  padding: 2rem 1.5rem;
  display: inline-block;
  background-color: #e6e6e8;
}
.form__promo .form-group {
  padding: 0 .5rem;
}
.form_legend {
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.3rem;
}
.btn-form {
  width: 100%;
  margin-top: 2.5rem;
}
.btn-form:hover {
  color: #fff;
}
/* ----- SECTION clients ----- */
.clients {
  padding: 4rem 0 6rem;
}
.clients-logo {
  min-height: 21rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url('../img/clients-logo.png');
}
.title__clients {
  margin-bottom: 2.5rem;
}
/* ----- SECTION consult ----- */
.consult {
  min-height: 33rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('../img/consult-bg.png');
}
/* ----- SECTION leaders ----- */
/* ----- SECTION achivment ----- */
.achivment {
  min-height: 58.5rem;
}
/* ----- SECTION steps ----- */
.steps {
  min-height: 60rem;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;
  background-image: url('../img/steps-bg.png');
}
/* ----- SECTION footer ----- */
footer {
  padding: 2.5rem 0;
  background-color: #555457;
}
/* ===== #MADIA QUERIES FOR RESPONSIVE DESIGN ===== */
/* ----- DESKTOP VERSION ----- */
@media screen and (max-width: 1199px) {
  /* ----- SECTION advs ----- */
  .advs .container:after {
    height: 4.5rem;
    bottom: -1.4rem;
    left: 5rem;
  }
}
/* ----- TABLET VERSION ----- */
@media screen and (max-width: 991px) {
  /* ----- general rules ----- */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  /* ----- SECTION advs ----- */
  .advs .container:after {
    height: 4rem;
    bottom: -1.6rem;
    left: 3rem;
  }
}
/* ----- MOBILE VERSION ----- */
